{% extends 'base.html.twig' %}

{% block title %}Startup Weekend Aix Marseille Octobre 2015 - Challenge{% endblock %}
{% block description %}Pour cette année 2015, j'ai décidé d'y participer avec quelques amis/collègues afin de s'impliquer davantage dans le monde de l'entreprenariat.{% endblock %}
{% block og_url %}http://{{ app.request.host ~ path('anthonykgrossfr_page_lire', {'name' : 'startup-weekend-aix-marseille-2015' }) }}{% endblock %}
{% block og_image %}http://{{ app.request.host ~  asset("bundles/app/images/Articles/startup-weekend-aix-marseille-2015.jpg") }}{% endblock %}

{% block javascripts %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage":{
            "@type":"WebPage",
            "@id":"{{ block("og_url") }}"
        },
        "headline": "{{ block("title") }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ block("og_image") }}",
            "height": 400,
            "width": 1200
        },
        "datePublished": "{{ "2015-10-05"|date("c") }}",
        "dateModified": "{{ "2015-10-05"|date("c") }}",
        "author": {
            "@type": "Person",
            "name": "Anthony GROSS"
        },
        "publisher": {
            "@type": "Organization",
            "name": "AnthonyKGROSS",
            "logo": {
                "@type": "ImageObject",
                "url": "http://anthonykgross.fr/images/akg-wide.png",
                "width": 80,
                "height": 60
            }
        },
        "description": "{{ block("description") }}"
    }
</script>
{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="single-page">
            <div class="header margin-bottom40">
                <h2>Startup Weekend Aix Marseille Octobre 2015</h2>
                <p>
                    Startup Weekend est un mouvement populaire mondial d'entrepreneurs actifs et autonomes qui apprennent 
                    les fondamentaux de la vie en startups et le lancement d'entreprises couronnées de succès. 
                    Pour cette année 2015, j'ai décidé d'y participer avec quelques amis/collègues afin de s'impliquer davantage 
                    dans le monde de l'entreprenariat.
                </p>
            </div>
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/app/images/Articles/startup-weekend-aix-marseille-2015.jpg') }}" alt="Thumbnail" />
                </figure>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Présentation</h2>
                            <p>
                                Comme décrit dans l'introduction, le Startup Weekend est un évènement mondial qui rassemble les 
                                entrepreneurs afin d'apprendre les bases de la startup. Cette initiative est fortement soutenue par Google qui encourage 
                                la création d'entreprises innovantes et favorise ce genre d'évènements. 
                                Pour un ordre d'idée, il ne se passe pas un jour de l'année sans un Startup Weekend en cours dans le monde.
                                <br/><b>Comment se déroule le weekend ?</b> Le premier jour, les porteurs de projets présentent leurs idées et sont soumis 
                                aux votes des participants. A la suite de ça, seulement quelques-uns sont selectionnés et les participants, qui sont divisés en 3 catégories 
                                (Designeur, développeur & marketeur), composent les équipes pour chacun d'eux. En 54h, celles-ci doivent mettre en place un MVP 
                                (Produit Minimum Viable en français), une étude de marché, un business model et une stratégie commerciale. Pour finir, 
                                une présentation aux jurys est faite et ils étudient la faisabilité, la pérennité de votre projet et définissent un classement.
                                Il y a 3 prix à gagner : Meilleur design, meilleur developpement et les 3 meilleurs projets.
                            </p>
                            <br/>
                            <h2>Notre projet</h2>
                            <p>
                                iLLLi.co est une plateforme de livraisons entre particuliers assurées par des professionnels. 
                                Elle s'assure qu'un transporteur aille chercher un bien et le livre à une adresse de destination choisie préalablement par le client.
                                Prenons l'exemple du porteur du projet tiré de sa propre expérience : Récemment, il a voulu s'acheter un canapé sur leboncoin mais il
                                s'avère qu'il n'a pas de véhicule assez grand sous la main pour aller le chercher, ni même son entourage. La location ? Pour un 
                                véhicule de taille convenable, la facture s'élève au prix du bien : pas intéressant !
                                Notre équipe, composée de 3 marketeurs et de 3 développeurs, a tenté de remédier à ce problème en proposant notre solution.
                            </p>
                            <div class="row">
                                <div class="span12" style="text-align: center;">
                                    <img src="{{ asset('bundles/app/images/Articles/illlico.png') }}" alt="Thumbnail" />
                                </div>
                            </div>
                            <br/>
                            <h2>Organisation</h2>
                            <p>
                               Dès le début de la réalisation, nous avons voulu mettre l'accent sur le prototype du site. La raison étant que nous étions la seule équipe
                               avec autant de développeurs et ensuite, nous avons souhaité sonder le marché avec des cas réels et non pas sur des suppositions ou des stats de l'INSEE.
                               Durant le développement, les marketeurs se sont concentrés sur le marché : sondage par téléphones et par internet, mise en place de stratégies pour que les utilisateurs 
                               du boncoin.fr connaissent notre produits et mise en place de campagnes publicitaires sur les réseaux sociaux.
                               
                               Après quelques heures soit plus de 4000 affichages de la publicité, quelques tendances ressortent : il s'avère que les plus interessés sont les femmes de 18-34 ans dans les zones urbaines.
                               A la suite du rapport parfaitement synchroniser avec la fin du developpement, nous avons orienté le design du site en fonction de la tendance : facile d'utilisation, multiplateform (PC, tablettes & mobiles) et légèreté du design.
                               Une fois un prototype proche de l'état final, les marketeurs ont reprit leurs campagnes, animé les communautés et tenté d'avoir des inscriptions.
                               Mais le compteur tourne et nous sommes déjà Dimanche matin. Nous devions préparer la présentation et entraîner les speakers. Voici notre présentation :
                            </p>
                            <br/>
                            <div class="row">
                                <div class="span10" style="text-align: center;">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/8C-pwRCKE0I?start=5050" height="452px" width="800px" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="span2" style="text-align: center;">
                                    <div>
                                        <img src="{{ asset('images/medal-gold.svg') }}" style="width: 50%;" alt="1st" title="1st"/><br/>
                                        Meilleur développement
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Conclusion</h2>
                            <p>
                                Pour ma première Startup Weekend, j'ai beaucoup apprécié participer à cet évènement. J'ai rencontré beaucoup de personnes, 
                                pu coopérer avec des corps de métiers avec lesquelles je n'avais jamais travailler auparavant et surtout, j'ai énormément appris 
                                sur les fondamentaux pour la création de startups. Un grand merci aux organisateurs, aux particpants, aux jurys et aux sponsors. 
                                Pour ceux qui hésitent à participer aux futurs éditions de la Startup Weekend, sachez qu'il n'y a pas de perdants : <i class="fa fa-quote-left"></i> Je ne perds jamais. Soit je gagne, soit j'apprends ! <i class="fa fa-quote-right"></i> - N.Mandela. 
                                Malgré l'épuisement généré par cette aventure, je pense que je participerai de nouveau; avec cette fois-ci
                                un podium pour le projet avec lequelle je collaborerai. En attendant la prochaine, je dois préparer le prochain évènement à venir :
                                l'<a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'openedx-conference' }) }}">OpenEdx Conference 2015</a>.
                                Sur ce, j'ai garé mon pingouin en double file. Tchou !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="meta-desc">
                <i class="fa fa-calendar"></i> &nbsp; Le 5 Octobre 2015 <span class="font-slight"></span> 
            </div>
            <br/>
            <div class="fb-comments" data-href="{{ block("og_url") }}" data-numposts="5" data-width="100%"></div>
        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}
