{% extends 'base.html.twig' %}

{% block title %}Déploiement continu avec Docker entre Gitlab et Rancher{% endblock %}
{% block description %}L'ADASS est une conférence annuelle qui se déroule sur plusieurs jours dans différentes institutions astronomiques.{% endblock %}
{% block og_url %}http://{{ app.request.host ~ path('anthonykgrossfr_page_lire', {'name' : 'continuous-deployment-with-docker-gitlab-and-rancher' }) }}{% endblock %}
{% block og_image %}http://{{ app.request.host ~  asset("bundles/anthonykgrossfrmain/images/Articles/continuous-deployment-with-docker-gitlab-and-rancher.jpg") }}{% endblock %}

{% block javascripts %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage":{
            "@type":"WebPage",
            "@id":"{{ block("og_url") }}"
        },
        "headline": "{{ block("title") }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ block("og_image") }}",
            "height": 400,
            "width": 1200
        },
        "datePublished": "{{ "2016-11-14"|date("c") }}",
        "dateModified": "{{ "2016-11-14"|date("c") }}",
        "author": {
            "@type": "Person",
            "name": "Anthony GROSS"
        },
        "publisher": {
            "@type": "Organization",
            "name": "AnthonyKGROSS",
            "logo": {
                "@type": "ImageObject",
                "url": "http://anthonykgross.fr/images/akg-wide.png",
                "width": 80,
                "height": 60
            }
        },
        "description": "{{ block("description") }}"
    }
</script>
{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="single-page">
            <div class="header margin-bottom40">
                <h2>Déploiement continu avec Docker entre Gitlab et Rancher</h2>
                <p>
                    L'ADASS (Astronomical Data Analysis Software and Systems) est une conférence 
                    annuelle qui se déroule sur plusieurs jours dans différentes institutions astronomiques. Elle favorise l'échange
                    entre les scientifiques et les ingénieurs sur les thèmes des algorithmes,
                    des logiciels, de la réduction, de l'analyse et du stockage des données astronomiques.
                    Elle se compose majoritairement de présentations orales, de posters et de démonstrateurs autour des projets 
                    de chacun des participants.
                </p>
            </div>
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/continuous-deployment-with-docker-gitlab-and-rancher.jpg') }}" alt="Thumbnail" />
                </figure>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Présentation</h2>
                            <p>
                            </p>
                        </div>
                        <div class="span12">
                            <h2>Retour d'expérience</h2>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Conclusion</h2>
                            <p>
                               Sur ce, j'ai garé ma baleine en double file. Tchou !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h3>Liens utiles</h3>
                            <li><a href="https://gitlab.com/anthonykgross/sample-continuous-deployment" target="_blank">Projet Symfony d'exemple</a></li>
                            <li><a href="https://docs.gitlab.com/ce/ci/docker/using_docker_build.html" target="_blank">En avoir plus sur GitlabCI avec Docker</a></li>
                            <li><a href="https://docs.rancher.com/rancher/v1.2/en/installing-rancher/installing-server/" target="_blank">Installation de Rancher</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="meta-desc">
                <i class="fa fa-calendar"></i> &nbsp; Le 14 Novembre 2016 <span class="font-slight"></span>
            </div>
            <br/>
            <div class="fb-comments" data-href="{{ block("og_url") }}" data-numposts="5" data-width="100%"></div>
        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}