{% extends 'base.html.twig' %}

{% block title %}OpenedXHack Marseille - L'hackathon{% endblock %}
{% block description %}IONISx, France Université Numérique et edX ont organisé le plus grand hackathon Open edX hors des Etats-Unis.{% endblock %}
{% block og_url %}http://{{ app.request.host ~ path('anthonykgrossfr_page_lire', {'name' : 'hackathon-openedx-ionisx-xhack-2015' }) }}{% endblock %}
{% block og_image %}http://{{ app.request.host ~  asset("bundles/anthonykgrossfrmain/images/Articles/hackathon_openedx_1.jpg") }}{% endblock %}

{% block javascripts %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage":{
            "@type":"WebPage",
            "@id":"{{ block("og_url") }}"
        },
        "headline": "{{ block("title") }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ block("og_image") }}",
            "height": 400,
            "width": 1200
        },
        "datePublished": "{{ "2015-06-01"|date("c") }}",
        "dateModified": "{{ "2015-06-01"|date("c") }}",
        "author": {
            "@type": "Person",
            "name": "Anthony GROSS"
        },
        "publisher": {
            "@type": "Organization",
            "name": "AnthonyKGROSS",
            "logo": {
                "@type": "ImageObject",
                "url": "http://anthonykgross.fr/images/akg-wide.png",
                "width": 80,
                "height": 60
            }
        },
        "description": "{{ block("description") }}"
    }
</script>
{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="single-page">
            <div class="header margin-bottom40">
                <h2>OpenedXHack</h2>
                <p>
                    IONISx, France Université Numérique et edX ont organisé le plus grand hackathon Open edX hors des Etats-Unis. 
                    Le Open edX Hack a pour objectif de contribuer et de créer de nouvelles fonctionnalités qui profiteront à la communauté.
                </p>
            </div>
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/hackathon_openedx_1.jpg') }}" alt="Thumbnail" />
                </figure>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Présentation</h2>
                            <p>
                                <i class="fa fa-quote-left"></i> Un hackathon est un évènement où des développeurs se réunissent pour faire de la programmation informatique collaborative, 
                                sur plusieurs jours (ici 36h sans interruption). C’est à l'origine un rassemblement de développeurs organisés par équipe autour 
                                de porteurs de projet avec l'objectif de produire un prototype d'application en quelques heures. Sous forme de concours chronométré, 
                                l'équipe gagnante est généralement désignée par un jury à l'issue du temps imparti.<i class="fa fa-quote-right"></i> Merci wikipédia.
                            </p>
                            <p>
                                OpenEdx est une plateforme open source d'apprentissage en ligne. 
                                Elle héberge et met gratuitement à disposition des cours en ligne de niveau universitaire à travers le monde entier.
                                Il est possible d'héberger sa propre instance d'OpenEdx et de la proposer à ses utilisateurs; c'est le cas de France Université Numérique.
                            </p>
                            <br/>
                            <h2>Notre projet</h2>
                            <p>
                                KNOTES est une application qui permet à l'utilisateur de prendre des notes pendant une vidéo en cours de lecture. 
                                Chacune de celles-ci sont sauvegardées sur la plateforme et synchronisées avec la vidéo (comme des sous-titres). Pour finir, 
                                il est possible de rendre publique des notes afin de les partager avec les autres utilisateurs. Voici la vidéo de présentation :
                            </p>
                            <br/>
                            <div class="row">
                                <div class="span10" style="text-align: center;">
                                    <iframe id="kalyzee_player" src="//beta.activpik.com/embed/pzzk5" width="800" height="452" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                </div>
                                <div class="span2" style="text-align: center;">
                                    <div>
                                        <img src="{{ asset('images/medal-gold.svg') }}" style="width: 50%;" alt="1st" title="1st"/><br/>
                                        Vidéo
                                    </div>
                                    <br/>
                                    <div>
                                        <img src="{{ asset('images/medal-silver.svg') }}"  style="width: 50%;" alt="2nd" title="2nd" /><br/>
                                        Toutes catégories confondues
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>L'évènement</h2>
                            <ul>
                                <li>48h de hackathon ponctuées par des activités.</li>
                                <li>180 participants répartis sur 8 villes : Paris, Bordeaux, Lyon, Marseille, Nancy, Rennes, Strasbourg & Toulouse.</li>
                                <li>21 Projets pour 7 Lauréats : Administration, Data, Design, Activités, Mobile, Vidéo + Toutes catégories confondues.</li>
                                <li>Pour le lauréat "Toutes catégories confondues" : Direction l'Annual Open edX Con Hackathon à Boston du 14 au 15 Octobre 2015.</li>
                            </ul>
                            <br/>
                            <h2>Un suite ?</h2>
                            <p>
                                Bien entendu ! Notre participation à cet événement a beaucoup fait parler de nous et nous voulons continuer dans cette voie.
                                Nous allons de notre propre initiative participer à l'hackathon de l'<a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'openedx-conference' }) }}">Annual Open edX Con</a> à Boston, continuer à faire de notre mieux et pourquoi pas, cette fois, arriver premier.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Conclusion</h2>
                            <p>
                               L'hackathon a été pour moi une très grande expérience. Depuis mon départ de Kalyzée, 
                               je n'ai pas souvent eu l'occasion d'être mis en concurrence avec d'autres développeurs, et je suis très fier que nous ayons fini second. 
                               Ensuite, j'avais grandement envie de retravailler avec les membres de mon ancienne équipe; connaître réciproquement 
                               comment notre expérience a grandi depuis et ce fut un franc succès. 
                               Analyse de l'existant, proposition de projets, analyse et conception, répartition des tâches, livraison et présentation & communication : j'ai pu retrouver 
                               cette cohésion qui fait la force de notre équipe. 
                               De plus, cet évènement m'a permit de rencontrer Guillaume LAURIE avec qui nous nous sommes très bien entendu et qui n'a pas hésité à intégrer à notre groupe et à apporter sa touche personnelle.
                               Pour finir, il me tarde désormais la suite à Boston afin que je puisse donner davantage de moi-même et espérer obtenir, avec l'aide de cette même équipe, la place de premier.
                               Sur ce, j'ai garé mon requin en double file. Tchou !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h3>Liens utiles</h3>
                            <li><a href="http://www.kalyzee.com/kalyzee-laureat-de-openedxhack-avec-knotes/" target="_blank">L’innovation de Kalyzée (KNOTES) primée par Open Edx, la plateforme du Massachusetts Institute of Technology et de l’université Harvard !</a></li>
                            <li><a href="https://storify.com/ParlonsMOOC/le-hackathon-open-edx-depuis-marseille-556b0c8ed2a643343686b7f7" target="_blank">La finale Marseillaise du Hackathon Open edX</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="meta-desc">
                <i class="fa fa-calendar"></i> &nbsp; Le 1 Juin 2015 <span class="font-slight"></span> 
            </div>
            <br/>
            <div class="fb-comments" data-href="{{ block("og_url") }}" data-numposts="5" data-width="100%"></div>
        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}