{% extends 'base.html.twig' %}

{% block title %}Kctus (Cactus) - Contrôle à distance des vidéos{% endblock %}
{% block description %}L’application a pour but de connecter votre smartphone à une vidéo sur votre ordinateur.{% endblock %}
{% block og_url %}http://{{ app.request.host ~ path('anthonykgrossfr_page_lire', {'name' : 'kctus-controle-a-distance-des-videos' }) }}{% endblock %}
{% block og_image %}http://{{ app.request.host ~  asset("bundles/anthonykgrossfrmain/images/Articles/kctus.jpg") }}{% endblock %}

{% block javascripts %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage":{
            "@type":"WebPage",
            "@id":"{{ block("og_url") }}"
        },
        "headline": "{{ block("title") }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ block("og_image") }}",
            "height": 400,
            "width": 1200
        },
        "datePublished": "{{ "2014-11-31"|date("c") }}",
        "dateModified": "{{ "2014-11-31"|date("c") }}",
        "author": {
            "@type": "Person",
            "name": "Anthony GROSS"
        },
        "publisher": {
            "@type": "Organization",
            "name": "AnthonyKGROSS",
            "logo": {
                "@type": "ImageObject",
                "url": "http://anthonykgross.fr/images/akg-wide.png",
                "width": 80,
                "height": 60
            }
        },
        "description": "{{ block("description") }}"
    }
</script>
{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="single-page">
            <div class="header margin-bottom40">
                <h2>Kctus - Contrôle à distance des vidéos</h2>
            </div>
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/kctus.jpg') }}" alt="Thumbnail" />
                </figure>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>&laquo;Et 1, et 2 et 3 – 0 !&raquo;</h2>
                            <p>
                                Et non ! Je ne vous parlerais pas de football. 
                                Je ne tiens pas à me ridiculiser en m’attardant sur un sujet que je ne maîtrise pas, 
                                surtout quand d’autres en débattent bien mieux que moi; n’est ce pas <a target="_blank" href="http://www.lesremplacants.com/">LesRemplacants.com</a> ? 
                                (Petit coup de pub). Par contre, je peux vous présenter un projet sur lequel 
                                j’ai travaillé durant mon activité chez <a target="_blank" href="http://www.kalyzee.com/">Kalyzee</a> intitulé Kctus (Cactus) et dont le foot est 
                                juste un prétexte pour aguicher la clientèle marseillaise.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Présentation</h2>
                            <p>
                                Kctus ? Etant donné que j’ai été responsable du projet, 
                                j’ai eu la lourde charge de lui trouver un nom. Pour la petite histoire, 
                                je souhaitais qu’il commence par « K » comme Kalyzee & Kkuet, et que ce soit un 
                                végétal (Pourquoi? pourquoi pas!). L’application a pour but (ahaha ! Non ce n’est pas un 
                                jeu de mot avec le foot) de connecter votre smartphone à une vidéo et que celui-ci vienne
                                enrichir le média en cours de lecture avec des données préalablement renseignées. </p>

                            <p>Prenons 
                                l’exemple du foot (coïncidence ;)), je souhaite revoir une action du match, savoir qui a marqué 
                                à l’instant, dans quel(s) club(s) il joue/a joué , etc … Vous me répondrez surement que c’est le 
                                rôle des commentateurs ! C’est vrai mais, sans être offusquant, à part faire gagner des TVs en 
                                carton toutes les 3 minutes et ponctuer leurs phrases par des « Mais ça, ça ne nous regarde pas » 
                                je ne prête AUCUNE attention à ce qu’ils racontent. Si je désire avoir des informations, je les ai 
                                sur mon téléphone et je consulte seulement ce que je veux et m’intéresse. Le problème c’est que pour 
                                notre démo les commentateurs sont là, les blabla et les TVs aussi … Bien évidemment, ce qui 
                                s’applique aux vidéos peut s’appliquer à d’autres types de médias. Bref, je pense que vous avez 
                                tout de même compris le potentiel de l’application.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Utilisation</h2>
                            <p>
                                <ol>
                                    <li>
                                        <span style="color:red;">[PC]</span> Allez dans la partie &laquo;Démonstration&raquo; de l'article : Vous verrez un lecteur vidéo ainsi qu’un QRCode sur le site de Kalyzee
                                    </li>
                                    <li>
                                        <span style="color:green;">[SMARTPHONE]</span> Avec votre smartphone et une application de lecture de QRCode, Flashez le QrCode en haut à gauche. Vous allez être redirigé vers la partie mobile de l’application.
                                    </li>
                                    <li>
                                        <span style="color:red;">[PC]</span> Votre navigateur va détecter votre smartphone et vous propose de lire la vidéo en plein écran : Valider.
                                    </li>
                                    <li>
                                        <span style="color:green;">[SMARTPHONE]</span> L’application est chargée. 3 onglets s’offrent à vous :<p></p>
                                        <ul>
                                            <li>Historique : Voir tous les moments forts du match (dans votre navigateur PC)</li>
                                            <li>Equipe : Voir la composition des équipes</li>
                                            <li>Stade : Informations liées au Stade</li>
                                        </ul>
                                    </li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Démonstration</h2>
                            <div class="row">
                                <div class="span12">
                                    <h3>Kalyzee.com</h3>
                                </div>
                                <iframe src="http://www.kalyzee.com/portfolio/kctus/"  class="span12" style="min-height: 800px;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Conclusion</h2>
                            <p>
                                Kctus est une application appartenant au Labs de Kalyzee donc elle est expérimentale et IL SE PEUT que, 
                                selon votre navigateur PC ou Mobile, le fonctionnement varie. Si vous avez été convaincu par ce genre de 
                                projet ou que vous avez des idées et/ou applications pour Kctus, je serais ravi de les entendre et d’en 
                                discuter. En attendant, je retourne bosser. /quit
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="meta-desc">
                <i class="fa fa-calendar"></i> &nbsp; Le 31 Novembre 2014 <span class="font-slight"></span> 
            </div>
            <br/>
            <div class="fb-comments" data-href="{{ block("og_url") }}" data-numposts="5" data-width="100%"></div>
        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}