{% extends 'base.html.twig' %}

{% block body %}
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="span3 item"> <!-- 1 -->
                        <i class="fa fa-desktop"></i>
                        <h5>Vos besoins informatiques</h5>
                        <h4>Développement</h4>
                        <p>Créez ou améliorez votre projet tout en gardant un oeil sur le développement et son budget. Documentation, liste des tâches et du temps passé sont disponibles grâce au suivi en ligne </p>
                    </div>

                    <div class="span3 item"> <!-- 2 -->
                        <i class="fa fa-check-square-o"></i>
                        <h5>Conseils & solutions</h5>
                        <h4>Expertise</h4>
                        <p>
                            Profitez des conseils d'un réseau d'experts compétents dans la majorité des domaines de l'informatique. Architecture, performance, mobilité et ergonomie sont autant de points à ne pas négliger.
                        </p>
                    </div>

                    <div class="span3 item"> <!-- 3 -->
                        <i class="fa fa-video-camera"></i>
                        <h5>consolidation ou perfectionnement</h5>
                        <h4>Formation</h4>
                        <p>Dans les limites de mes connaissances et de mes expériences, je réponds aux demandes de formations et de soutiens scolaires en conception et développement informatique.</p>
                    </div>

                    <div class="span3 item"> <!-- 4 -->
                        <i class="fa fa-shopping-cart"></i>
                        <h5>Créer votre boutique en ligne</h5>
                        <h4>E-Commerce</h4>
                        <p>Développez votre activité commerciale sur Internet avec la création d'une boutique en ligne 100% personnalisable pour élargir autant que possible votre audience.</p>
                    </div>

                </div> <!-- End row -->
            </div> <!-- End container -->
        </section> <!-- End services -->

        <div class="sep-border-main"></div> <!-- separator -->

        <!-- <section id="portofolio">
            <div class="container">
                <div class="header">
                    <h2>Projets</h2>
                    <p>Retrouvez mes participations aux projets ainsi que quelques-unes de mes créations.</p>
                </div>

                <p>Vous avez besoin d'être rassuré ? Je vous présente les projets sur lesquels j'ai travaillé et dont on m'autorise à en faire la publicité. </p>

                <div class="flexslider loading">
                    <ul class="slides">
                        <li class="row-fluid">
                            <div class="span3 item">
                                <figure class="figure-hover">
                                    <a href="{{ asset("images/portofolio/kdm24-full.png") }}" class="swipebox" title="Kosmetik-direkt24.com">
                                        <img src="{{ asset("images/portofolio/kdm24-thumb.png") }}" alt="Kosmetik-direkt24.com" />
                                        <div><span class="icon-hover icon-hover-zoom"></span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="span3 item">
                                <figure class="figure-hover">
                                    <a href="{{ asset("images/portofolio/kctus-full.png") }}" class="swipebox" title="Kalyzee - Kctus">
                                        <img src="{{ asset("images/portofolio/kctus-thumb.png") }}" alt="Kalyzee - Kctus" />
                                        <div><span class="icon-hover icon-hover-zoom"></span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="span3 item">
                                <figure class="figure-hover">
                                    <a href="{{ asset("images/portofolio/sharindata-full.png") }}" class="swipebox" title="Sharindata.com">
                                        <img src="{{ asset("images/portofolio/sharindata-thumb.png") }}" alt="Sharindata.com" />
                                        <div><span class="icon-hover icon-hover-zoom"></span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="span3 item">
                                <figure class="figure-hover">
                                    <a href="{{ asset("images/portofolio/google-full.png") }}" class="swipebox" title="Application Android">
                                        <img src="{{ asset("images/portofolio/google-thumb.png") }}" alt="Application Android" />
                                        <div><span class="icon-hover icon-hover-zoom"></span></div>
                                    </a>
                                </figure>
                            </div>
                        </li>
                        <li class="row-fluid">
                            <div class="span3 item">
                                <figure class="figure-hover">
                                    <a href="{{ asset("images/portofolio/sharingame-full.png") }}" class="swipebox" title="Sharingame.com">
                                        <img src="{{ asset("images/portofolio/sharingame-thumb.png") }}" alt="Sharingame.com" />
                                        <div><span class="icon-hover icon-hover-zoom"></span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="span3 item">
                                <figure class="figure-hover">
                                    <a href="{{ asset("images/portofolio/streamplayer-full.png") }}" class="swipebox" title="Streamplayer">
                                        <img src="{{ asset("images/portofolio/streamplayer-thumb.png") }}" alt="Streamplayer" />
                                        <div><span class="icon-hover icon-hover-zoom"></span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="span3 item">
                                <figure class="figure-hover">
                                    <a href="{{ asset("images/portofolio/blog-full.png") }}" class="swipebox" title="Blog">
                                        <img src="{{ asset("images/portofolio/blog-thumb.png") }}" alt="Blog" />
                                        <div><span class="icon-hover icon-hover-zoom"></span></div>
                                    </a>
                                </figure>
                            </div>
                        </li>
                    </ul>
                </div

            </div>
        </section> 
        -->
        <section class="testimonials">
            <div class="container">

                <span class="testimonials-icon"><i class="fa fa-quote-left"></i></span> <!-- testimonials-icon -->

                <div class="flexslider loading">
                    <ul class="slides">
                        <li>
                            <p>Consciencieux, rigoureux et ponctuel, Anthony a fortement permis à mon activité de se developper sur internet malgré les barrières de la langue (allemand).</p>
                            - <span class="name">Axel, <a href="http://kosmetik-direkt24.com">Kosmetik-direkt24.com</a></span>
                        </li>
                        <li>
                            <p>J'ai été agréablement surpris d'avoir à faire à un professionnel "carré" alors qu'on rencontre vraiment de tout en matière de développement web.</p>
                            - <span class="name">Pascal, <a href="http://fadou.com">Fadou.com</a></span>
                        </li>
                    </ul> <!-- End slides -->

                </div> <!-- End flexslider -->
            </div> <!-- End container -->
        </section> <!-- End testimonials -->

        <section id="about">
            <div class="container">
                <div class="header">
                    <h2><span property="v:nickname">Kkuet</span> ?</h2>
                    <p>Apprenez-en davantage sur moi : mes formations, ma carrière, mes loisirs...</p>
                </div>
                <div class="row">
                    <div class="span1">
                        <span property="v:photo"><img src="{{ asset('bundles/anthonykgrossfrmain/images/photo.jpg') }}" alt="Anthony Kkuet GROSS" /></span>
                    </div>
                    <div class="span11">
                        <p>
                            <span property="v:title">Ingénieur logiciel</span> en poste au <span property="v:affiliation">Laboratoire d'Astrophysique de Marseille</span> et freelance, chargé de la conception et de la réalisation de services spécifiques, notamment de traitements lourds, accessibles via webservices.
                        </p>
                    </div>
                </div>
                <br>

                <div class="row margin-bottom60">
                    <div class="span6">
                        <h3>&laquo; Once upon a time ... &raquo;</h3>
                        <p>Né à Villeneuve sur Lot (47) d'une mère normande et d'un père allemand, j'ai vécu dans cette petite ville jusqu'à ma majorité. Pour poursuivre mes études après mon Bac STG (Sciences et technologies de la Gestion), nous avons décidé avec ma famille de partir sur Marseille pour que j'intègre une classe de BTS Informatique de gestion au lycée Marie Curie. Après avoir décroché mon diplôme, j'ai ensuite choisi de faire une licence SIL-NTI (Systèmes Informatiques et Logiciels - Nouvelles Technologies de l'Informatique) à la faculté de Saint-Charles pour terminer ma scolarité.</p>
                        <p>Depuis l'âge de 14ans, je suis passionné d'informatique. &Agrave; 16ans, je developpais mon premier jeu virtuel totalement en PHP, avec une base de données de 30+ tables, dont l'expérience m'a énormément apporté pour la suite. Depuis plus de 2 ans, je refais ce jeu entre mon emploi et les missions qu'on me donne (<a target="_blank" href="http://sharingame.com">Sharingame.com</a>) car il me tient énormément à coeur. Je suis un autodidacte, créatif et minutieux. Je suis freelance, en plus de mon poste, car j'aime les beaux projets et j'ai de la chance car on m'en propose beaucoup. Pour finir et vous l'avez surement déjà compris, j'ai un certain franc-parler qui est souvent apprécié de mes interlocuteurs donc autant vous informer que je ne vous vendrai pas un service dont j'estime que vous n'avez pas besoin.</p>
                    </div> <!-- End span6 -->

                    <div class="span6">
                        <h3>Mes compétences</h3>

                        <div class="tbl-skills">
                            <div class="item"> <!-- 1 -->
                                <p><span>Symfony</span><i>85%</i></p>
                                <div class="tbl-skills-process" style="width:85%;"></div>
                            </div>
                            <div class="item"> <!-- 1 -->
                                <p><span>Webservice (REST / SOAP)</span><i>83%</i></p>
                                <div class="tbl-skills-process" style="width:83%;"></div>
                            </div>
                            <div class="item"> <!-- 2 -->
                                <p><span>E-commerce (Prestashop / Magento)</span><i>80%</i></p>
                                <div class="tbl-skills-process" style="width:80%;"></div>
                            </div>
                            <div class="item"> <!-- 2 -->
                                <p><span>Base de données (MySQL / PostgreSQL / MongoDB / ...)</span><i>80%</i></p>
                                <div class="tbl-skills-process" style="width:80%;"></div>
                            </div>
                            <div class="item"> <!-- 1 -->
                                <p><span>HTML / CSS / JavaScript (AngularJs / Node / jQuery / ...)</span><i>75%</i></p>
                                <div class="tbl-skills-process" style="width:75%;"></div>
                            </div>
                            <div class="item"> <!-- 1 -->
                                <p><span>Java / Python</span><i>60%</i></p>
                                <div class="tbl-skills-process" style="width:60%;"></div>
                            </div>
                        </div> <!-- End tbl-skills -->

                    </div> <!-- End span6 -->
                </div> <!-- End row -->

                <div class="sep-border-main"></div> <!-- separator -->

                <div class="teams">
                    <div class="row-fluid">
                        <div class="span4 item">
                            <figure>
                                <img src="{{ asset("images/cnrs.png") }}" alt="CNRS - Laboratoire d'Astrophysique de Marseille" />
                                <p>Ingénieur d'étude</p>
                            </figure>
                            <div class="name">
                                <h5>Laboratoire d'Astrophysique de Marseille</h5>
                            </div>
                            <p>Je n'aurais jamais imaginé durant mes études finir au CNRS sachant mon niveau en mathématique et en anglais, mais ... ils m'ont accepté dans leur équipe et je n'ai aucun regret. J'apprends énormement en astro/physique bien évidemment, autant en informatique : Python/Django, Java, IDL mais surtout en communication. L'écoute des besoins scientifiques, la collaboration entre les differents laboratoires du monde, côtoyer l'anglais régulièrement m'apportent énormément sur le plan personnel et professionnel. J'estime que c'est grâce à eux que j'arrive de mieux en mieux à écouter et définir les besoins de chacun des projets qui sont à ma charge.</p>
                            <ul class="social">
                                <li><a target="_blank" href="https://www.facebook.com/UMR7326" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/LAM_Marseille" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/profile/view?id=314887837" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="http://lam.fr/" title="Site internet"><i class="fa fa-link"></i></a></li>
                                
                            </ul>
                        </div>

                        <div class="span4 item">
                            <figure>
                                <img src="{{ asset("images/kalyzee.png") }}" alt="Kalyzée" />
                                <p>Ingénieur logiciel</p>
                            </figure>
                            <div class="name">
                                <h5>Kalyzée</h5>
                            </div>
                            <p>Par où commencer avec Kalyzée ... ?! Tout simplement ma plus belle expérience actuelle en entreprise. Je suis devenu un expert en développement et architecture logicielle grâce à la confiance qu'ils me portent. De l'installation de serveur en tout genre (Virtualisation, Streaming, Web, etc ...) jusqu'à la communication inter-logiciels en passant par la conception d'un serveur d'encodage vidéo, sans omettre le recrutement et la gestion de stagiaires, j'ai dû toucher à tellement de domaines différents en si peu de temps que le système scolaire actuel me semble être une vaste arnaque. Pour faire simple, je leur dois tout.</p>
                            <ul class="social">
                                <li><a target="_blank" href="https://www.facebook.com/kalyzee" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/kalyzee" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/company/2839284" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="http://www.kalyzee.com/" title="Site internet"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>

                        <div class="span4 item">
                            <figure>
                                <img src="{{ asset('images/lordofweb.png') }}" alt="LordOfWeb" />
                                <p>Analyste & Développeur web</p>
                            </figure>
                            <div class="name">
                                <h5>Lord of Web</h5>
                            </div>
                            <p>Dès la sortie de l'école, j'ai eu beaucoup de chance d'être accepté dans cette agence. J'ai énormément appris notamment en eCommerce, SEO et exigences client. Je me suis familiarisé avec le travail en équipe; les contraintes entre les différents métiers qui gravitent autour de la conception de site internet : Design, intégration, développement, SEO, marketing, etc ... C'est grâce à l'expérience de LordOfWeb que j'ai pu apprendre les fondamentaux du business en ligne et qu'aujourd'hui je suis en mesure de vous apporter mes conseils.</p>
                            <ul class="social">
                                <li><a target="_blank" href="https://www.facebook.com/lordofweb.lordofweb" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="http://www.lordofweb.com/" title="Site internet"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>

                    </div> <!-- End row-fluid -->
                </div> <!-- End teams -->

            </div> <!-- End container -->
        </section> <!-- End about -->

        <section id="partners">
            <div class="container">
                <div class="header">
                    <h2>Mes partenaires</h2>
                    <p>Bien entendu, je ne travaille pas seul ! Dans l'éventualité que je ne puisse vous aider à créer votre projet, votre demande sera transférée à l'ensemble de mes partenaires avec lesquels je travaille depuis plusieurs années. Augmentez vos chances de trouver rapidement un freelance en me proposant vos projets et profiter de mon réseaux.</p>
                </div>

                <div class="sep-border-main"></div> <!-- separator -->

                <div class="teams">
                    <div class="row-fluid">
                        <div class="span4 item">
                            <figure>
                                <img src="{{ asset("images/partenaires/ben.png") }}" />
                                <p>Développeur web & mobile</p>
                            </figure>
                            <div class="name">
                                <h5><a  rel="v:contact" target="_blank" href="http://benjaminb.fr/" title="Site internet">Benjamin Bellantonio</a></h5>
                            </div>
                            <p class="description">Développeur freelance passionné et expérimenté, je vous accompagne dans la conception de vos projets web et mobile.</p>
                            <ul class="social">
                                <li><a target="_blank" href="https://www.facebook.com/benjamin.bellantonio" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/deuxb_" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://fr.linkedin.com/pub/benjamin-bellantonio/6a/863/1a6" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="http://benjaminb.fr/" title="Site internet"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>

                        <div class="span4 item">
                            <figure>
                                <img src="{{ asset("images/partenaires/yannick.png") }}" />
                                <p>Développeur Freelance</p>
                            </figure>
                            <div class="name">
                                <h5><a  rel="v:contact" target="_blank" href="http://www.yannickdalbin.com/" title="Site internet">Yannick Dalbin</a></h5>
                            </div>
                            <p class="description">Développeur web PHP/Zend Framework 1&2/NodeJS mais pas que !</p>
                            <ul class="social">
                                <li><a target="_blank" href="https://www.facebook.com/YannickDa" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/YannickDa" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/in/yannickda" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="http://www.yannickdalbin.com/" title="Site internet"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>

                        <div class="span4 item">
                            <figure>
                                <img src="{{ asset('images/partenaires/ludo.png') }}"/>
                                <p>Développeur PHP Symfony 2 - Java</p>
                            </figure>
                            <div class="name">
                                <h5><a  rel="v:contact" target="_blank" href="http://www.ludovicbouguerra.fr/" title="Site internet">Ludovic Bouguerra</a></h5>
                            </div>
                            <p class="description"></p>
                            <ul class="social">
                                <li><a target="_blank" href="https://www.facebook.com/ludovic.bouguerra" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/LBouguerra" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/pub/ludovic-bouguerra/34/5a/214" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="http://www.ludovicbouguerra.fr/" title="Site internet"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row-fluid">   
                        <div class="span4 item">
                            <figure>
                                <img src="{{ asset('images/partenaires/clem.png') }}"/>
                                <p>Développeur web & logiciel</p>
                            </figure>
                            <div class="name">
                                <h5><a  rel="v:contact" target="_blank" href="http://www.clementvidal.com/" title="Site internet">Clément Vidal</a></h5>
                            </div>
                            <p class="description">Développeur Symfony2, AngularJS et Dojo toolkit, je concrétise avec vous vos projets innovants.</p>
                            <ul class="social">
                                <li><a target="_blank" href="https://www.facebook.com/clementvidalperso" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/ClemusMars" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/pub/clement-vidal/6/413/147" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="http://www.clementvidal.com/" title="Site internet"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                        <div class="span4 item">
                            <figure>
                                <img src="{{ asset('images/partenaires/sara.jpg') }}" />
                                <p>Infographiste</p>
                            </figure>
                            <div class="name">
                                <h5><a  rel="v:contact" target="_blank" href="http://www.sara-cruz.fr/" title="Site internet">Sara Cruz</a></h5>
                            </div>
                            <p class="description">Infographiste free-lance basée sur Marseille. Spécialisée dans la conception graphique print, Sara conseille, crée et réalise de supports de communication visuelle pour votre entreprise et produits.</p>
                            <ul class="social">
                                <!-- <li><a target="_blank" href="https://www.facebook.com/clementvidalperso" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/ClemusMars" title="Twitter"><i class="fa fa-twitter"></i></a></li> -->
                                <li><a target="_blank" href="https://www.linkedin.com/pub/sara-cruz/bb/90a/ba5" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="http://www.sara-cruz.fr/" title="Site internet"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div> <!-- End row-fluid -->
                </div> <!-- End teams -->

            </div> <!-- End container -->
        </section> 
        
        <div class="map" id="contact-map" data-map-lat="43.302642" data-map-lon="5.377865" data-map-zoom="17" data-map-title="Localisation" data-map-address="107 rue Longue des Capucins 13001 Marseille"></div> <!-- google map -->
{% endblock %}
