{% extends 'base.html.twig' %}

{% block title %}Twitch - Apprendre en enseignant{% endblock %}
{% block description %}Twitch est une plateforme de streaming principalement de jeu vidéo qui, depuis peu, ouvre ses portes aux artistes. Vous l'aurez compris : je suis l'un d'eux !{% endblock %}
{% block og_url %}http://{{ app.request.host ~ path('anthonykgrossfr_page_lire', {'name' : 'twitch-apprendre-en-enseignant' }) }}{% endblock %}
{% block og_image %}http://{{ app.request.host ~  asset("images/articles/twitch.png") }}{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="single-page">
            <div class="header margin-bottom40">
                <h2>Twitch - Apprendre en enseignant</h2>
                <p>
                    Twitch est une plateforme de streaming principalement de jeu vidéo qui, depuis peu, ouvre ses portes aux artistes.
                    Musiciens, sculpteurs, graphistes et .. développeurs peuvent désormais partager leur art avec les spectateurs et discuter de leur passion commune.
                    Vous l'aurez compris : je suis l'un d'eux !
                </p>
            </div>
            <div class="item">
                <figure>
                    <div class="row">
                        <div class="span8">
                            <iframe src="https://player.twitch.tv/?channel=anthonykgross" style="display: inline-block;" frameborder="0" scrolling="no" height="500" width="100%"></iframe>
                        </div>
                        <div class="span4">
                            <div id="info-live" class="row" style="height: 50px;">
                                sd
                            </div>
                        </div>
                        <div class="span4">
                            <iframe src="https://www.twitch.tv/anthonykgross/chat?popout=" frameborder="0" scrolling="no" height="450" width="100%"></iframe>
                        </div>
                    </div>
                </figure>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Pourquoi ?</h2>
                        </div>
                        <div class="span6">
                            <p>
                                Lors de mes expériences professionnelles, j'ai eu la chance de gagner la confiance de mes supérieurs et collègues. Ils m'ont partagés leurs expériences, permis
                                d'encadrer des stagiaires, de voyager presque partout dans le monde afin d'assister à des conférences, hackathons et j'en passe;
                                tout ça, très rapidement. J'ai accumulé énormément d'expérence et c'est celle-ci qui me donne la force aujourd'hui de pouvoir la partager. 
                            </p>
                        </div>
                        <div class="span6">
                            <p>
                                Les raisons qui m'amènent à faire des &laquo;lives&raquo; de mon métier, c'est que je souhaite aider à mon tour
                                les passionnés de dev' comme moi qui ont besoin d'un coup de pouce pour être propulsés. &Eacute;tudiants, amateurs ou encore professionnels, mes streams permettent 
                                à toutes ces personnes de trouver des réponses, de réviser et d'éveiller de nouvels curiosités.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">
                            <h2>Et toi, qu'est ce que t'y gagnes ?</h2>
                        </div>
                        <div class="span6">
                            <p>
                                Bien entendu, je ne suis pas mère Thérèsa : je m'y retrouve également. J'ai souvent remarqué que lorsqu'on apprenait quelque chose à quelqu'un, 
                                cette personne avait toujours des remarques interessantes et souvent jamais entendues auparavant. Ce qui m'intéresse, c'est d'être confronté à celles-ci
                                et d'y trouver des réponses adaptées, et pourquoi pas éveiller d'autres curiosités de mon coté. C'est ce que j'entends quand je dis que &laquo;j'apprends en enseignant&raquo;
                                car le fait d'apprendre aux autres me fait réviser, me confronte à d'autres problèmes et fait accroître ma communication.
                            </p>
                        </div>
                        <div class="span6">
                            <p>
                                D'autres interêts pour moi sont au rendez-vous : une notoriété grandissante grâce à aux visites sur mon site et les réseaux sociaux, un cercle
                                de professionnels et clients potientiels, et quelques nouveaux amis aussi. Pour finir, les donations me permettent d'investir dans les lives :
                                amélioration du matériel, achats de licences et matériels de développements (ex: Raspberry pi, Arduino, etc ...), la formation et les déplacements éventuelles.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">
                            <h2>Programmes</h2>
                            <p>
                                Chaque début de semaine, les intéressés votent pour un sujet parmi troix choix. Le mercredi soir, celui qui a le plus de succès est annoncé sur <a href="https://twitter.com/AnthonyKGROSS">Twitter</a>.
                                Le samedi qui suit, à 14h, les spectateurs et moi-même parlons du sujet et accessoirement je l'illustre avec une démonstration (code, diagramme, etc ...).
                            </p>
                        </div>
                        <div class="span6">
                            <h3>Passés</h3>
                            <p>
                                <ul>
                                    <li>Docker - Les bases</li>
                                    <li>HTML / CSS - Créer son CV.</li>
                                    <li>Symfony - Les bases</li>
                                </ul>
                            </p>
                        </div>
                        <div class="span6">
                            <h3>Prévus</h3>
                            <p>
                                <ul>
                                    <li>Angular2 <i>avec <a href="http://clement-vidal.fr/" target="_blank">Clément</a></i></li>
                                    <li>Le référencement naturel <i>avec <a href="http://www.guillaumerobbe.com/" target="_blank">Guillaume</a></i></li>
                                    <li>Et des tas d'autres sur le feu ! </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Conclusion</h2>
                            <p>
                                Il n'est pas nécessaire de vous faire savoir que l'organisation des lives me demande énormément de temps ! J'aime m'investir dans cette activité car
                                ça me motive à donner le meilleur de moi-même et mes &laquo;viewers&raquo; me le rendent bien. Je ne compte pas en vivre, seulement partager avec les autres ma passion
                                et accessoirement en apprendre d'eux.
                                Sur ce, j'ai garé ma salamandre en double file. Tchou !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h3>Liens utiles</h3>
                            <li><a href="https://www.twitch.tv/anthonykgross" target="_blank">La chaîne coding</a></li>
                            <li><a href="https://www.twitch.tv/gregorymgross" target="_blank">La chaîne gaming</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="meta-desc">
                <i class="fa fa-calendar"></i> &nbsp; Le 17 Mars 2016 <span class="font-slight"></span> 
            </div>
            <br/>
            <div class="fb-comments" data-href="{{ block("og_url") }}" data-numposts="5" data-width="100%"></div>
        </section> <!-- End blog -->
    </div> <!-- End container -->
<style>
#info-live {
    text-align: center;
}
#info-live i{
    margin-right: 10px;
}
</style>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        (function(){
            var twitch_url = "https://api.twitch.tv/kraken/channels/anthonykgross";

            function refreshTwitchStat(){
                $.ajax({
                    url: twitch_url,
                    success: function(d){
                        $('#info-live').html('');
                        var li_follower = $("<div/>").attr('title','Nombre de suivis').addClass("span2").append($('<i/>').addClass("fa fa-user")).append(d.followers);
                        var li_viewer   = $("<div/>").attr('title','Nombre de vues').addClass("span2").append($('<i/>').addClass("fa fa-eye")).append(d.views);
                        $('#info-live').append(li_viewer).append(li_follower);
                    }
                });
            }
            refreshTwitchStat();
            
            setInterval(function(){
                refreshTwitchStat();
            },1000*30);
        })();
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage":{
                "@type":"WebPage",
                "@id":"{{ block("og_url") }}"
            },
            "headline": "{{ block("title") }}",
            "image": {
                "@type": "ImageObject",
                "url": "{{ block("og_image") }}",
                "height": 400,
                "width": 1200
            },
            "datePublished": "{{ "2016-03-17"|date("c") }}",
            "dateModified": "{{ "2016-03-17"|date("c") }}",
            "author": {
                "@type": "Person",
                "name": "Anthony GROSS"
            },
            "publisher": {
                "@type": "Organization",
                "name": "AnthonyKGROSS",
                "logo": {
                    "@type": "ImageObject",
                    "url": "http://anthonykgross.fr/images/akg-wide.png",
                    "width": 80,
                    "height": 60
                }
            },
            "description": "{{ block("description") }}"
        }
    </script>
{% endblock %}