{% extends 'base.html.twig' %}

{% block title %}Blog - Le développement vulgarisé.{% endblock %}
{% block description %}&Ecirc;tre développeur c'est aussi partager aux autres ce que l'on sait.{% endblock %}
{% block og_url %}{{ path('anthonykgrossfr_blog') }}{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="blog">

            <div class="header margin-bottom40">
                <h2>Blog</h2>
                <p>&Agrave; quoi bon garder l'information pour moi ? Je partage mon petit savoir.</p>
            </div>

            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/deploiement-continu-docker-gitlab-rancher.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'deploiement-continu-docker-gitlab-rancher' }) }}">Déploiement continu avec Docker entre Gitlab et Rancher</a></div>
                </figure>
                <p>
                    Avec la progression de l’utilisation des containers d’application (Docker, AWS, etc …) favorisant
                    les architectures microservices, nous divisons nos programmes en un ensemble de petits programmes
                    communiquant les uns avec les autres. Cette division engendre une multiplication croissante du
                    nombre de machines qui, avec le temps, deviennent de plus en plus difficiles à gérer.
                    Par conséquent, il est nécessaire d'utiliser un gestionnaire de containers ainsi que
                    l'élaboration de procédures de déploiement. Et comme par hasard, mon article parle de ça !
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 14 Novembre 2016 <span class="font-slight">|</span>
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'continuous-deployment-with-docker-gitlab-and-rancher' }) }}" class="read-more">Lire</a>
                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/docker-broadcaster.png') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'multi-streaming-broadcaster-twitch-youtube-dailymotion-hitbox' }) }}">Faire du multi streaming sur Twitch, Dailymotion, Youtube & Hitbox</a></div>
                </figure>
                <p>
                    &Agrave; la demande de mon frère qui souhaite lui aussi se mettre à streamer ses jeux favoris sur Internet, 
                    j'ai mis en place un système qui permet de diffuser sur toutes les platformes de votre choix votre live.
                    &laquo;Nan mais Antho, c'est quelle plateforme qu'est la mieux ?&raquo; Perso, moi j'en sais rien donc pour remédier au problème : &laquo;Ne choisit pas, fait les toutes ! &raquo;.
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 9 Septembre 2015 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'multi-streaming-broadcaster-twitch-youtube-dailymotion-hitbox' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/sintel.png') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'creer-plugin-javascript-jwplayer-6' }) }}">Créer un plugin javascript pour JWPlayer 6</a></div>
                </figure>
                <p>
                    Vous souhaitez rendre vos plugins jwplayer compatibles avec HTML5 ? 
                    Suite à l'article Créer un plugin flash pour JWPlayer 6, je vais vous montrer comment faire vos plugins JWPlayer 6 avec javascript. 
                    La raison ? Flash n'est plus supporté par Adobe et Android ne l'intègre plus sur ses nouvelles versions.
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 14 Juin 2013 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'creer-plugin-javascript-jwplayer-6' }) }}" class="read-more">Lire</a>
                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/ffmpeg.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-partie-3-commandes-avancees' }) }}">FFmpeg – Partie 3 – Commandes avancées</a></div>
                </figure>
                <p>
                    Découvrez les commandes avancées de FFmpeg.
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 03 Novembre 2012 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-partie-3-commandes-avancees' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/ffmpeg.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-commandes-base' }) }}">FFmpeg – Partie 2 – Commandes de base</a></div>
                </figure>
                <p>
                    Commençons avec quelques commandes de base pour utiliser notre petit FFmpeg fraîchement installé.
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 03 Novembre 2012 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-commandes-base' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/ffmpeg.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-installation-x264' }) }}">FFmpeg – Partie 1 – Installation</a></div>
                </figure>
                <p>
                    Toute la procédure d'installation de FFmpeg avec x264
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 27 Septembre 2012 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-installation-x264' }) }}" class="read-more">Lire</a>
                </div>
            </div>
            <!--<nav class="nav-page">
                <a href="blog.html">Prev</a>
                <a href="blog.html">1</a>
                <a href="blog.html">2</a>
                <a href="blog.html">3</a>
                <a href="blog.html">4</a>
                <a href="blog.html" class="active">5</a>
                <a href="blog.html">6</a>
                <a href="blog.html">7</a>
                <a href="blog.html">Next</a>
            </nav> -->

        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}
