{% extends 'base.html.twig' %}

{% block title %}&Eacute;vènements - Hackathons, conférences, collaborations{% endblock %}
{% block description %}Ingénieur le jour et freelance la nuit, je participe à divers évènements qui m'apportent beaucoup et c'est en toute humilité que je vous donne mon retour d'expérience.{% endblock %}
{% block og_url %}{{ path('anthonykgrossfr_event') }}{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="blog">

            <div class="header margin-bottom40">
                <h2>&Eacute;vènements</h2>
                <p>Ma participation à divers évènements m'apporte beaucoup et c'est en toute humilité que je vous donne mon retour d'expérience.</p>
            </div>

            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/adass2015.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'adass-conference-xxv-2015' }) }}">ADASS XXV</a></div>
                </figure>
                <p>
               
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 25 Octobre 2015 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'adass-conference-xxv-2015' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/hackathon_openedx_boston.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'openedx-conference' }) }}">Open edX Conference</a></div>
                </figure>
                <p>
               
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 13 Octobre 2015 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'openedx-conference' }) }}" class="read-more">Lire</a>
                </div>
            </div>
               
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/startup-weekend-aix-marseille-2015.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'startup-weekend-aix-marseille-2015' }) }}">Startup Weekend Aix-Marseille</a></div>
                </figure>
                <p>
               
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 5 Octobre 2015 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'startup-weekend-aix-marseille-2015' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/jdev_2015.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'jdev-bordeaux-2015' }) }}">JDev 2015</a></div>
                </figure>
                <p>
               
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 10 Juillet 2015 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'jdev-bordeaux-2015' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/hackathon_openedx_1.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'hackathon-openedx-ionisx-xhack-2015' }) }}">OpenedXHack</a></div>
                </figure>
                <p>
               
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 1 Juin 2015 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'hackathon-openedx-ionisx-xhack-2015' }) }}" class="read-more">Lire</a>
                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/pydata.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'pydata-paris-2015' }) }}">PyData Paris 2015</a></div>
                </figure>
                <p>
               
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 15 Avril 2015 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'pydata-paris-2015' }) }}" class="read-more">Lire</a>
                </div>
            </div>
              
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/adass2014.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'adass-conference-xxiv-2014' }) }}">ADASS XXIV</a></div>
                </figure>
                <p>
               
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 19 Octobre 2014 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'adass-conference-xxiv-2014' }) }}" class="read-more">Lire</a>
                </div>
            </div>
            <!--<nav class="nav-page">
                <a href="blog.html">Prev</a>
                <a href="blog.html">1</a>
                <a href="blog.html">2</a>
                <a href="blog.html">3</a>
                <a href="blog.html">4</a>
                <a href="blog.html" class="active">5</a>
                <a href="blog.html">6</a>
                <a href="blog.html">7</a>
                <a href="blog.html">Next</a>
            </nav> -->

        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}
