{% extends 'base.html.twig' %}

{% block title %}Projets - Du simple script Javascript au jeu video en PHP{% endblock %}
{% block description %}Passionné d'informatique, mes réalisations naissent régulièrement et exposé ici, à Marseille.{% endblock %}
{% block og_url %}{{ path('anthonykgrossfr_project') }}{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="blog">

            <div class="header margin-bottom40">
                <h2>Projets</h2>
                <p>&laquo;Faites quelque chose et, si ça ne réussit pas, essayez autre chose.&raquo; - <i>F. D. Roosevelt.</i></p>
            </div>

            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/twitch.png') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'twitch-apprendre-en-enseignant' }) }}">Twitch - Apprendre en enseignant</a></div>
                </figure>
                <p>
                    Twitch est une plateforme de streaming principalement de jeu vidéo qui, depuis peu, ouvre ses portes aux artistes.
                    Musiciens, sculpteurs, graphistes et .. développeurs peuvent désormais partager leur art avec les spectateurs et discuter de leur passion commune.
                    Vous l'aurez compris : je suis l'un d'eux.
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 17 Mars 2016 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'twitch-apprendre-en-enseignant' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/docker-broadcaster.png') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'multi-streaming-broadcaster-twitch-youtube-dailymotion-hitbox' }) }}">Faire du multi streaming sur Twitch, Dailymotion, Youtube & Hitbox</a></div>
                </figure>
                <p>
                    &Agrave; la demande de mon frère qui souhaite lui aussi se mettre à streamer ses jeux favoris sur Internet, 
                    j'ai mis en place un système qui permet de diffuser sur toutes les platformes de votre choix votre live.
                    &laquo;Nan mais Antho, c'est quelle plateforme qu'est la mieux ?&raquo; Perso, moi j'en sais rien donc pour remédier au problème : &laquo;Ne choisit pas, fait les toutes ! &raquo;.
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 9 Septembre 2015 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'multi-streaming-broadcaster-twitch-youtube-dailymotion-hitbox' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/kctus.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'kctus-controle-a-distance-des-videos' }) }}">Kctus – Contrôle à distance des vidéos</a></div>
                </figure>
                <p>
                    
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 31 Novembre 2014 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'kctus-controle-a-distance-des-videos' }) }}" class="read-more">Lire</a>
                </div>
            </div>

            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/sharingame.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'sharingame-jeu-en-ligne' }) }}">Sharingame – Jeu en ligne</a></div>
                </figure>
                <p>
                    
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 30 Septembre 2014 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'sharingame-jeu-en-ligne' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/sharindata.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'sharindata-donnees-outils-pour-developpeurs' }) }}">Sharindata – Webservice</a></div>
                </figure>
                <p>
                    
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 09 Novembre 2013 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'sharindata-donnees-outils-pour-developpeurs' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/sunisup.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'sun-is-up-plugin-jquery-sunisup' }) }}">Sun is up – Plugin jQuery</a></div>
                </figure>
                <p>
                   
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 21 Décembre 2012 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'sun-is-up-plugin-jquery-sunisup' }) }}" class="read-more">Lire</a>
                </div>
            </div>
              
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/kdm.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'kosmetik-direkt24' }) }}">Kosmetik-Direkt24 – eCommerce</a></div>
                </figure>
                <p>
                    
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 11 Novembre 2012 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'kosmetik-direkt24' }) }}" class="read-more">Lire</a>
                </div>
            </div>
               
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/streamplayer.jpg') }}" alt="Thumbnail" />
                    <div class="title"><a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'streamplayer' }) }}">Streamplayer – Application Web & Flash</a></div>
                </figure>
                <p>
                    
                </p>
                <div class="meta-desc">
                    <i class="fa fa-calendar"></i> &nbsp; Le 27 Janvier 2011 <span class="font-slight">|</span> 
                    <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'streamplayer' }) }}" class="read-more">Lire</a>
                </div>
            </div>
                
            <!--<nav class="nav-page">
                <a href="blog.html">Prev</a>
                <a href="blog.html">1</a>
                <a href="blog.html">2</a>
                <a href="blog.html">3</a>
                <a href="blog.html">4</a>
                <a href="blog.html" class="active">5</a>
                <a href="blog.html">6</a>
                <a href="blog.html">7</a>
                <a href="blog.html">Next</a>
            </nav> -->

        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}
