<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Your Basic Site Informations -->
    <title>{% block title %}Developpeur freelance sur Marseille{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="description" content="{% block description %}Développeur freelance sur Marseille vous propose son expertise, développement, ecommerce & formation.{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}freelance, marseille, developpeur, formation, ecommerce{% endblock %}"/>

    <meta property='og:locale' content='fr_FR'/>
    <meta property='og:title' content="{{ block('title') }}"/>
    <meta property='og:description' content="{{ block('description') }}"/>
    <meta property='og:url' content='{% block og_url %}http://{{ app.request.host }}{% endblock %}'/>
    <meta property='og:site_name' content='AnthonyKGross.fr - Développeur freelance sur Marseille'/>
    <meta property='og:type' content='website'/>
    <meta property="og:image" content="{% block og_image %}http://{{ app.request.host ~  "/images/fb_image.png" }}{% endblock %}">
    <meta property="fb:app_id" content="1488082224825425"/>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@anthonykgross">
    <meta name="twitter:creator" content="@anthonykgross">
    <meta name="twitter:title" content="{{ block('title') }}">
    <meta name="twitter:description" content="{{ block('description') }}">
    <meta name="twitter:image" content="{{ block('og_image') }}">

    {#<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>#}
    {#<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>#}
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href="https://google.com/+AnthonyKkuetGROSS" rel="author"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/build/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/libs/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/libs/noty/lib/noty.css">
    <link rel="stylesheet" href="/libs/noty/lib/themes/bootstrap-v4.css">
    <link rel="stylesheet" href="/libs/prismjs/themes/prism-okaidia.css">
    <link rel="stylesheet" href="/build/css/app.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <style>
        {% block extraCSS %}{% endblock %}
    </style>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
            <a class="navbar-brand" href="/">
                <img src="/images/akg.svg" title="AKG - Anthony Kkuet GROSS" alt="AKG - Anthony Kkuet GROSS">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {#<li class="nav-item">#}
                        {#<a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage") }}#services">Services</a>#}
                    {#</li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: null}) }}#apropos">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: null}) }}#partenaires">Partenaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: null}) }}#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'cv'}) }}">CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'projets'}) }}">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'evenements'}) }}">&Eacute;vènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'blog'}) }}">Blog</a>
                    </li>
                    <li class="nav-item draft-mode{% block draft_mode %}{% endblock %}">
                        <a class="nav-link">Draft mode</a>
                    </li>
                </ul>
                <form action="/recherche" method="GET" class="form-inline mt-2 mt-md-0">
                    <input name="q" class="form-control mr-sm-2" type="text" placeholder="je recherche ..." aria-label="Search" autocomplete="off">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Fonce !</button>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">
        <div id="overlay" class="container-fluid" data-anchor-id="overlay">
            <div class="col-md-12 banner">
                <img src="/images/theme.png" title="AKG - Anthony Kkuet GROSS" alt="AKG - Anthony Kkuet GROSS">
                <div class="text-rotator title">
                    <h1>{{ block('title') }}</h1>
                </div>
            </div>
            <div class="col-md-12 search-result">
                <div class="title">
                    <h1 data-result-label="R&eacute;sultats" data-no-result-label="Pas de r&eacute;sultats :( !"></h1>
                    <div class="result row"></div>
                </div>
            </div>
        </div>


        <div class="container">
            {% block body %}{% endblock %}
        </div>



        <section id="contact" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="separator"></div>
                    <div class="header">
                        <h2 class="clipable" data-anchor-id="contact">Restez en contact</h2>
                        <p>
                            J'accepte régulièrement de nouveaux clients. C'est avec plaisir que je vous servirais.
                        </p>
                    </div>
                    <p>
                        Vous avez un projet à estimer, une demande de devis ou vous souhaitez être formé sur un domaine précis ?
                        N'hésitez pas à me contacter et je vous répondrais avec plaisir dès que possible. Ne soyez pas timide !
                        Vous pouvez me rejoindre ci-après sur la plupart des réseaux sociaux si vous souhaitez me connaitre
                        davantage.
                    </p>
                </div>
            </div>
            <form method="post" action="{{ path("anthonykgrossfr_contactez_moi") }}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" maxlength="80" placeholder="Nom & Prénom (obligatoire)"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="email" maxlength="255"
                               placeholder="Votre adresse email (obligatoire)"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="subject" placeholder="Sujet"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="captcha" placeholder="Chargement du captcha ..."
                               class="no-margin-bottom"/>
                            <input type="hidden" name="captcha_id" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Message (obligatoire)"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" value="C'est parti !" class="btn btn-block btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="data-status"></div>
        </section>

        <section id="social" class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <img alt="Rejoignez moi" src="/images/rejoignezmoi.png"/>
                </div>
                <div class="col-md-10">
                    <ul>
                        <li>
                            <a target="_blank" title="Twitter" href="https://twitter.com/anthonykgross">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Youtube" href="https://www.youtube.com/channel/UC7hF0LUlIoShX2QZejF7z7g">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Linkedin" href="http://www.linkedin.com/pub/anthony-k-gross/6a/863/16">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Github" href="https://github.com/anthonykgross">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Gitlab" href="https://gitlab.com/u/anthonykgross">
                                <i class="fa fa-gitlab"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Docker Hub" href="https://hub.docker.com/u/anthonykgross/">
                                <i class="fa fa-cubes"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="container">
            <div class="row">
                <div class="col-md-4">
                    <span>Anthony GROSS</span><br/>
                    <span>
                        <span>40 rue P.LUCCIONI</span><br/>
                        <span>Résidence Le clos des peintres</span><br/>
                        <span>13010</span> <span>Marseille</span><br/>
                    </span>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    Email : <span>Anthony.k.gross@gmail.com</span><br/>
                </div>
                <div class="col-md-4" style="text-align: right;">
                    Siret: 530 132 729 00027
                </div>
            </div>
            <br/>
            <p>
                <a href="#overlay">
                    <img src="/images/akg.svg" title="AKG - Anthony Kkuet GROSS" alt="AKG - Anthony Kkuet GROSS"/>
                </a>
                <br/><br/>
                &copy; {{ "now"|date('Y') }} AnthonyKGross.fr
            </p>
        </footer>

        <div class="page-loading"></div>
        <div id="fb-root"></div>
    </main>
    <script>
        var algolia_app_id = "{{ algolia_app_id }}";
        var algolia_api_key = "{{ algolia_api_key }}";
    </script>

    <script type='text/javascript' src="/libs/jquery/dist/jquery.min.js"></script>
    <script type='text/javascript' src="/libs/popper.js/dist/umd/popper.min.js"></script>
    <script type='text/javascript' src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="/libs/jticker/js/jquery.jticker.js"></script>
    <script type='text/javascript' src="/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script type='text/javascript' src="/libs/clipboard/dist/clipboard.min.js"></script>
    <script type='text/javascript' src="/libs/urijs/src/URI.min.js"></script>
    <script type='text/javascript' src="/libs/noty/lib/noty.min.js"></script>
    <script type='text/javascript' src="/libs/algoliasearch/dist/algoliasearch.min.js"></script>
    <script type='text/javascript' src="/build/js/prism.js"></script>
    <script type='text/javascript' src="/build/js/main.js"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1488082224825425',
                xfbml: true,
                version: 'v2.8'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58639100-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "AnthonyKGROSS",
            "url": "http://anthonykgross.fr",
            "logo": "http://anthonykgross.fr/images/akg.png",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Marseille, France",
                "postalCode": "13010",
                "streetAddress": "40 rue P.LUCCIONI"
            },
            "founder": {
                "@context" : "http://schema.org",
                "@type" : "Person",
                "name" : "Anthony GROSS",
                "url" : "http://anthonykgross.fr",
                "sameAs" : [
                    "https://twitter.com/anthonykgross",
                    "http://www.linkedin.com/pub/anthony-k-gross/6a/863/16",
                    "https://github.com/anthonykgross",
                    "http://twitch.tv/anthonykgross",
                    "https://plus.google.com/u/0/117182078090794461481"
                ],
                "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "Marseille, France",
                    "postalCode": "13010",
                    "streetAddress": "40 rue P.LUCCIONI"
                },
                "email": "anthony.k.gross@gmail.com",
                "image": "http://anthonykgross.fr/images/photo.jpg",
                "jobTitle": "Software Engineer"
            }
        }
    </script>
    <!-- Hotjar Tracking Code for http://anthonykgross.fr -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {hjid: 635153, hjsv: 5};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
