<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Your Basic Site Informations -->
    <title>{% block title %}Developpeur freelance sur Marseille{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="description" content="{% block description %}Développeur freelance sur Marseille vous propose son expertise, développement, ecommerce & formation.{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}freelance, marseille, developpeur, formation, ecommerce{% endblock %}"/>

    <meta property='og:locale' content='fr_FR'/>
    <meta property='og:title' content="{{ block('title') }}"/>
    <meta property='og:description' content="{{ block('description') }}"/>
    <meta property='og:url' content='{% block og_url %}http://{{ app.request.host }}{% endblock %}'/>
    <meta property='og:site_name' content='AnthonyKGross.fr - Développeur freelance sur Marseille'/>
    <meta property='og:type' content='website'/>
    <meta property="og:image" content="{% block og_image %}http://{{ app.request.host ~  "/images/fb_image.png" }}{% endblock %}">
    <meta property="fb:app_id" content="1488082224825425"/>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@anthonykgross">
    <meta name="twitter:creator" content="@anthonykgross">
    <meta name="twitter:title" content="{{ block('title') }}">
    <meta name="twitter:description" content="{{ block('description') }}">
    <meta name="twitter:image" content="{{ block('og_image') }}">

    {#<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>#}
    {#<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>#}
    {#<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>#}
    <link href="https://google.com/+AnthonyKkuetGROSS" rel="author"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/app.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    {% block stylesheets %}{% endblock %}

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
            <a class="navbar-brand" href="#">AKG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {#<li class="nav-item">#}
                        {#<a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage") }}#services">Services</a>#}
                    {#</li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: null}) }}#apropos">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: null}) }}#partenaires">Partenaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: null}) }}#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'cv'}) }}">CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'projets'}) }}">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'evenements'}) }}">&Eacute;vènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'blog'}) }}">Blog</a>
                    </li>
                </ul>
                {#<form class="form-inline mt-2 mt-md-0">#}
                    {#<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
                    {#<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
                {#</form>#}
            </div>
        </nav>
    </header>

    <main role="main">
        <div class="overlay">

        </div>

        <section id="partners" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header">
                        <h2>Mes partenaires</h2>
                        <p>Bien entendu, je ne travaille pas seul ! Dans l'éventualité que je ne puisse vous aider à créer votre projet, votre demande sera transférée à l'ensemble de mes partenaires avec lesquels je travaille depuis plusieurs années. Augmentez vos chances de trouver rapidement un freelance en me proposant vos projets et profiter de mon réseaux.</p>
                    </div>
                    <div class="separator"></div>
                </div>
            </div>
            <div class="mates">
                <div class="row">
                    <div class="mate col-md-4">
                        <figure>
                            <img alt="Benjamin Bellantonio - Freelancer" src="/images/partenaires/ben.png">
                            <p>Développeur web &amp; mobile</p>
                        </figure>
                        <div class="name">
                            <h5>
                                <a target="_blank" href="http://benjaminb.fr/" title="Site internet">Benjamin Bellantonio</a>
                            </h5>
                        </div>
                        <p class="description">Développeur freelance passionné et expérimenté, je vous accompagne dans la conception de vos projets web et mobile.</p>
                        <ul class="social">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/benjamin.bellantonio" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/deuxb_" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://fr.linkedin.com/pub/benjamin-bellantonio/6a/863/1a6" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://benjaminb.fr/" title="" data-original-title="Site internet">
                                    <i class="fa fa-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="mate col-md-4">
                        <figure>
                            <img alt="Yannick Dalbin - Freelancer" src="/images/partenaires/yannick.png">
                            <p>Développeur Freelance</p>
                        </figure>
                        <div class="name">
                            <h5>
                                <a target="_blank" href="http://www.yannickdalbin.com/" title="Site internet">Yannick Dalbin</a>
                            </h5>
                        </div>
                        <p class="description">Développeur web PHP/Zend Framework 1&amp;2/NodeJS mais pas que !</p>
                        <ul class="social">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/YannickDa" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/YannickDa" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/in/yannickda" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://www.yannickdalbin.com/" title="" data-original-title="Site internet">
                                    <i class="fa fa-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="mate col-md-4">
                        <figure>
                            <img alt="Ludovic Bouguerra - Freelancer" src="/images/partenaires/ludo.png">
                            <p>Développeur PHP Symfony 2 - Java</p>
                        </figure>
                        <div class="name">
                            <h5>
                                <a target="_blank" href="http://www.ludovicbouguerra.fr/" title="Site internet">Ludovic Bouguerra</a>
                            </h5>
                        </div>
                        <p class="description"></p>
                        <ul class="social">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/ludovic.bouguerra" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/LBouguerra" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/pub/ludovic-bouguerra/34/5a/214" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://www.ludovicbouguerra.fr/" title="" data-original-title="Site internet">
                                    <i class="fa fa-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="mate col-md-4">
                        <figure>
                            <img alt="Clément Vidal - Freelancer" src="/images/partenaires/clem.png">
                            <p>Développeur web &amp; logiciel</p>
                        </figure>
                        <div class="name">
                            <h5>
                                <a target="_blank" href="http://www.clementvidal.com/" title="Site internet">Clément Vidal</a>
                            </h5>
                        </div>
                        <p class="description">Développeur Symfony2, AngularJS et Dojo toolkit, je concrétise avec vous vos projets innovants.</p>
                        <ul class="social">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/clementvidalperso" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/ClemusMars" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/pub/clement-vidal/6/413/147" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://www.clementvidal.com/" title="" data-original-title="Site internet">
                                    <i class="fa fa-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mate col-md-4">
                        <figure>
                            <img alt="Sara Cruz - Freelancer" src="/images/partenaires/sara.jpg">
                            <p>Infographiste</p>
                        </figure>
                        <div class="name">
                            <h5>
                                <a target="_blank" href="http://www.sara-cruz.fr/" title="Site internet">Sara Cruz</a>
                            </h5>
                        </div>
                        <p class="description">Infographiste free-lance basée sur Marseille. Spécialisée dans la conception graphique print, Sara conseille, crée et réalise de supports de communication visuelle pour votre entreprise et produits.</p>
                        <ul class="social">
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/pub/sara-cruz/bb/90a/ba5" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://www.sara-cruz.fr/" title="" data-original-title="Site internet">
                                    <i class="fa fa-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="map">
            <div class="container">
                <div id="openstreetmap" class="map" data-map-lat="43.273575" data-map-lon="5.434302" data-map-address="<b>Anthony GROSS</b><br/>40 rue P.LUCCIONI<br/>13010 Marseille"></div>
            </div>
        </section>

        <section id="contact" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header">
                        <h2>Restez en contact</h2>
                        <p>
                            J'accepte régulièrement de nouveaux clients. C'est avec plaisir que je vous servirais.
                        </p>
                    </div>
                    <p>
                        Vous avez un projet à estimer, une demande de devis ou vous souhaitez être formé sur un domaine précis ?
                        N'hésitez pas à me contacter et je vous répondrais avec plaisir dès que possible. Ne soyez pas timide !
                        Vous pouvez me rejoindre ci-après sur la plupart des réseaux sociaux si vous souhaitez me connaitre
                        davantage.
                    </p>
                </div>
            </div>
            <form method="post" action="{{ path("anthonykgrossfr_contactez_moi") }}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" maxlength="80" placeholder="Nom & Prénom (obligatoire)"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="email" maxlength="255"
                               placeholder="Votre adresse email (obligatoire)"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="subject" placeholder="Sujet"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="captcha" placeholder="Chargement du captcha ..."
                               class="no-margin-bottom"/>
                            <input type="hidden" name="captcha_id" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Message (obligatoire)"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" value="C'est parti !" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="data-status"></div>
        </section>

        <section id="social" class="container">
            <div class="row">
                <div class="col-md-2">
                    <img alt="Rejoignez moi" src="/images/rejoignezmoi.png"/>
                </div>
                <div class="col-md-10">
                    <ul>
                        <li>
                            <a target="_blank" title="Twitter" href="https://twitter.com/anthonykgross">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Youtube" href="https://www.youtube.com/channel/UC7hF0LUlIoShX2QZejF7z7g">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Linkedin" href="http://www.linkedin.com/pub/anthony-k-gross/6a/863/16">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Github" href="https://github.com/anthonykgross">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Gitlab" href="https://gitlab.com/u/anthonykgross">
                                <i class="fa fa-gitlab"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Docker Hub" href="https://hub.docker.com/u/anthonykgross/">
                                <i class="fa fa-cubes"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="container">
            <div class="row">
                <div class="col-md-4">
                    <span>Anthony GROSS</span><br/>
                    <span>
                        <span>40 rue P.LUCCIONI</span><br/>
                        <span>Résidence Le clos des peintres</span><br/>
                        <span>13010</span> <span>Marseille</span><br/>
                    </span>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    Email : <span>Anthony.k.gross@gmail.com</span><br/>
                </div>
                <div class="col-md-4" style="text-align: right;">
                    Siret: 530 132 729 00027
                </div>
            </div>
            <br/>
            <p>
                <a href="#logo">
                    <img src="/images/akg.svg" title="AKG - Anthony Kkuet GROSS"
                         alt="AKG - Anthony Kkuet GROSS"/>
                </a>
                <br/><br/>
                &copy; {{ "now"|date('Y') }} AnthonyKGross.fr
            </p>
        </footer>

        <div class="page-loading"></div>
    </main>
    <script src="/libs/jquery/dist/jquery.slim.min.js"></script>
    <script src="/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/libs/leaflet/dist/leaflet.js"></script>
    <script type='text/javascript' src="/openstreetmap.js"></script>

    </body>
</html>
