<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Your Basic Site Informations -->
    <title>{% block title %}Developpeur freelance sur Marseille{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="description" content="{% block description %}Développeur freelance sur Marseille vous propose son expertise, développement, ecommerce & formation.{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}freelance, marseille, developpeur, formation, ecommerce{% endblock %}"/>

    <meta property='og:locale' content='fr_FR'/>
    <meta property='og:title' content="{{ block('title') }}"/>
    <meta property='og:description' content="{{ block('description') }}"/>
    <meta property='og:url' content='{% block og_url %}http://{{ app.request.host }}{% endblock %}'/>
    <meta property='og:site_name' content='AnthonyKGross.fr - Développeur freelance sur Marseille'/>
    <meta property='og:type' content='website'/>
    <meta property="og:image" content="{% block og_image %}http://{{ app.request.host ~  "/images/fb_image.png" }}{% endblock %}">
    <meta property="fb:app_id" content="1488082224825425"/>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@anthonykgross">
    <meta name="twitter:creator" content="@anthonykgross">
    <meta name="twitter:title" content="{{ block('title') }}">
    <meta name="twitter:description" content="{{ block('description') }}">
    <meta name="twitter:image" content="{{ block('og_image') }}">

    {#<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>#}
    {#<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>#}
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href="https://google.com/+AnthonyKkuetGROSS" rel="author"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/build/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/libs/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/build/css/app.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <style>
        {% block extraCSS %}{% endblock %}
    </style>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
            <a class="navbar-brand" href="/">
                <img src="/images/akg.svg" title="AKG - Anthony Kkuet GROSS" alt="AKG - Anthony Kkuet GROSS">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {#<li class="nav-item">#}
                        {#<a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage") }}#services">Services</a>#}
                    {#</li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: null}) }}#apropos">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: null}) }}#partenaires">Partenaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: null}) }}#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'cv'}) }}">CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'projets'}) }}">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'evenements'}) }}">&Eacute;vènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("anthonykgrossfr_main_homepage", {url: 'blog'}) }}">Blog</a>
                    </li>
                    <li class="nav-item draft-mode{% block draft_mode %}{% endblock %}">
                        <a class="nav-link">Draft mode</a>
                    </li>
                </ul>
                {#<form class="form-inline mt-2 mt-md-0">#}
                    {#<input class="form-control mr-sm-2" type="text" placeholder="je recherche ..." aria-label="Search">#}
                    {#<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">&Agrave; votre service !</button>#}
                {#</form>#}
            </div>
        </nav>
    </header>

    <main role="main">
        <div id="overlay" class="container-fluid" data-anchor-id="overlay">
            <div class="col-md-12">
                <img src="/images/theme.png" title="AKG - Anthony Kkuet GROSS" alt="AKG - Anthony Kkuet GROSS">
                <div class="text-rotator">
                    <h1>{{ block('title') }}</h1>
                </div>
            </div>
        </div>


        <div class="container">
            {% block body %}{% endblock %}
            {#<section id="about" data-anchor-id="apropos">#}
                {#<div class="row">#}
                    {#<div class="col-md-12">#}
                        {#<div class="header">#}
                            {#<h2>Kkuet ?</h2>#}
                            {#<p>#}
                                {#Apprenez-en davantage sur moi : mes formations, ma carrière, mes loisirs...#}
                            {#</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="row description">#}
                    {#<div class="col-md-1">#}
                        {#<img src="/images/photo.jpg" alt="Anthony Kkuet GROSS" />#}
                    {#</div>#}
                    {#<div class="col-md-11">#}
                        {#<p>#}
                            {#<span>Ingénieur logiciel</span> en poste au#}
                            {#<span>Laboratoire d'Astrophysique de Marseille</span> et freelance, chargé de la#}
                            {#conception et de la réalisation de services spécifiques, notamment de traitements#}
                            {#lourds, accessibles via webservices.#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="row story">#}
                    {#<div class="col-md-6">#}
                        {#<h3>&laquo; Once upon a time ... &raquo;</h3>#}
                        {#<p>#}
                            {#Né à Villeneuve sur Lot (47) d'une mère normande et d'un père allemand, j'ai vécu dans#}
                            {#cette petite ville jusqu'à ma majorité. Pour poursuivre mes études après mon Bac STG#}
                            {#(Sciences et technologies de la Gestion), nous avons décidé avec ma famille de partir#}
                            {#sur Marseille pour que j'intègre une classe de BTS Informatique de gestion au lycée#}
                            {#Marie Curie. Après avoir décroché mon diplôme, j'ai ensuite choisi de faire une#}
                            {#licence SIL-NTI (Systèmes Informatiques et Logiciels - Nouvelles Technologies de#}
                            {#l'Informatique) à la faculté de Saint-Charles pour terminer ma scolarité.#}
                        {#</p>#}
                        {#<p>#}
                            {#Depuis l'âge de 14ans, je suis passionné d'informatique. &Agrave; 16ans, je developpais#}
                            {#mon premier jeu virtuel totalement en PHP, avec une base de données de 30+ tables,#}
                            {#dont l'expérience m'a énormément apporté pour la suite. Depuis plus de 2 ans,#}
                            {#je refais ce jeu entre mon emploi et les missions qu'on me donne#}
                            {#(<a target="_blank" href="http://sharingame.com">Sharingame.com</a>) car il me tient#}
                            {#énormément à coeur. Je suis un autodidacte, créatif et minutieux. Je suis freelance,#}
                            {#en plus de mon poste, car j'aime les beaux projets et j'ai de la chance car on m'en#}
                            {#propose beaucoup. Pour finir et vous l'avez surement déjà compris, j'ai un certain#}
                            {#franc-parler qui est souvent apprécié de mes interlocuteurs donc autant vous informer#}
                            {#que je ne vous vendrai pas un service dont j'estime que vous n'avez pas besoin.#}
                        {#</p>#}
                    {#</div>#}

                    {#<div class="col-md-6">#}
                        {#<h3>Mes compétences</h3>#}

                        {#<div class="skills">#}
                            {#<div class="item">#}
                                {#<p>#}
                                    {#<span>Symfony</span>#}
                                    {#<i>Confirmé</i>#}
                                {#</p>#}
                                {#<div class="progress" style="width:85%;"></div>#}
                            {#</div>#}
                            {#<div class="item">#}
                                {#<p>#}
                                    {#<span>Webservice (REST / SOAP)</span>#}
                                    {#<i>Confirmé</i>#}
                                {#</p>#}
                                {#<div class="progress" style="width:83%;"></div>#}
                            {#</div>#}
                            {#<div class="item">#}
                                {#<p>#}
                                    {#<span>E-commerce (Prestashop / Magento)</span>#}
                                    {#<i>Confirmé</i>#}
                                {#</p>#}
                                {#<div class="progress" style="width:80%;"></div>#}
                            {#</div>#}
                            {#<div class="item">#}
                                {#<p>#}
                                    {#<span>Base de données (MySQL / PostgreSQL / MongoDB / ...)</span>#}
                                    {#<i>Avancé</i>#}
                                {#</p>#}
                                {#<div class="progress" style="width:80%;"></div>#}
                            {#</div>#}
                            {#<div class="item">#}
                                {#<p>#}
                                    {#<span>HTML / CSS / JavaScript (AngularJs / Node / jQuery / ...)</span>#}
                                    {#<i>Avancé</i>#}
                                {#</p>#}
                                {#<div class="progress" style="width:75%;"></div>#}
                            {#</div>#}
                            {#<div class="item">#}
                                {#<p>#}
                                    {#<span>Java / Python</span><i>Avancé</i>#}
                                {#</p>#}
                                {#<div class="progress" style="width:60%;"></div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="row separator"></div>#}

                {#<div class="row cards">#}
                    {#<div class="col-md-4 item">#}
                        {#<figure>#}
                            {#<img src="/images/cnrs.png" alt="CNRS - Laboratoire d'Astrophysique de Marseille" />#}
                            {#<p>Ingénieur d'étude</p>#}
                        {#</figure>#}
                        {#<div class="name">#}
                            {#<a target="_blank" href="http://lam.fr/" title="Site internet">#}
                                {#<h5>CNRS - Laboratoire d'Astrophysique de Marseille</h5>#}
                            {#</a>#}
                        {#</div>#}
                        {#<p class="description">#}
                            {#Je n'aurais jamais imaginé durant mes études finir au CNRS sachant mon niveau en#}
                            {#mathématique et en anglais, mais ... ils m'ont accepté dans leur équipe et je n'ai#}
                            {#aucun regret. J'apprends énormement en astro/physique bien évidemment, autant en#}
                            {#informatique : Python/Django, Java, IDL mais surtout en communication. L'écoute des#}
                            {#besoins scientifiques, la collaboration entre les differents laboratoires du monde,#}
                            {#côtoyer l'anglais régulièrement m'apportent énormément sur le plan personnel et#}
                            {#professionnel. J'estime que c'est grâce à eux que j'arrive de mieux en mieux à#}
                            {#écouter et définir les besoins de chacun des projets qui sont à ma charge.#}
                        {#</p>#}
                        {#<ul class="social">#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.facebook.com/UMR7326" title="Facebook">#}
                                    {#<i class="fa fa-facebook"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://twitter.com/LAM_Marseille" title="Twitter">#}
                                    {#<i class="fa fa-twitter"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.linkedin.com/profile/view?id=314887837" title="Linkedin">#}
                                    {#<i class="fa fa-linkedin"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="http://lam.fr/" title="Site internet">#}
                                    {#<i class="fa fa-link"></i>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}

                    {#<div class="col-md-4 item">#}
                        {#<figure>#}
                            {#<img src="/images/kalyzee.png" alt="Kalyzée" />#}
                            {#<p>Ingénieur logiciel</p>#}
                        {#</figure>#}
                        {#<div class="name">#}
                            {#<a target="_blank" href="http://www.kalyzee.com/" title="Site internet">#}
                                {#<h5>Kalyzée</h5>#}
                            {#</a>#}
                        {#</div>#}
                        {#<p class="description">#}
                            {#Par où commencer avec Kalyzée ... ?! Tout simplement ma plus belle expérience actuelle#}
                            {#en entreprise. Je suis devenu un expert en développement et architecture logicielle#}
                            {#grâce à la confiance qu'ils me portent. De l'installation de serveur en tout genre#}
                            {#(Virtualisation, Streaming, Web, etc ...) jusqu'à la communication inter-logiciels#}
                            {#en passant par la conception d'un serveur d'encodage vidéo, sans omettre le recrutement#}
                            {#et la gestion de stagiaires, j'ai dû toucher à tellement de domaines différents en#}
                            {#si peu de temps que le système scolaire actuel me semble être une vaste arnaque.#}
                            {#Pour faire simple, je leur dois tout.#}
                        {#</p>#}
                        {#<ul class="social">#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.facebook.com/kalyzee" title="Facebook">#}
                                    {#<i class="fa fa-facebook"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://twitter.com/kalyzee" title="Twitter">#}
                                    {#<i class="fa fa-twitter"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.linkedin.com/company/2839284" title="Linkedin">#}
                                    {#<i class="fa fa-linkedin"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="http://www.kalyzee.com/" title="Site internet">#}
                                    {#<i class="fa fa-link"></i>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}

                    {#<div class="col-md-4 item">#}
                        {#<figure>#}
                            {#<img src="/images/lordofweb.png" alt="LordOfWeb" />#}
                            {#<p>Analyste & Développeur web</p>#}
                        {#</figure>#}
                        {#<div class="name">#}
                            {#<a target="_blank" href="http://www.lordofweb.com/" title="Site internet">#}
                                {#<h5>Lord of Web</h5>#}
                            {#</a>#}
                        {#</div>#}
                        {#<p class="description">#}
                            {#Dès la sortie de l'école, j'ai eu beaucoup de chance d'être accepté dans cette agence.#}
                            {#J'ai énormément appris notamment en eCommerce, SEO et exigences client.#}
                            {#Je me suis familiarisé avec le travail en équipe; les contraintes entre les différents#}
                            {#métiers qui gravitent autour de la conception de site internet : Design, intégration,#}
                            {#développement, SEO, marketing, etc ... C'est grâce à l'expérience de LordOfWeb que j'ai#}
                            {#pu apprendre les fondamentaux du business en ligne et qu'aujourd'hui je suis en mesure#}
                            {#de vous apporter mes conseils.#}
                        {#</p>#}
                        {#<ul class="social">#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.facebook.com/lordofweb.lordofweb" title="Facebook">#}
                                    {#<i class="fa fa-facebook"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="http://www.lordofweb.com/" title="Site internet">#}
                                    {#<i class="fa fa-link"></i>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</section>#}

            {#<section id="partners" data-anchor-id="partenaires">#}
                {#<div class="row">#}
                    {#<div class="col-md-12">#}
                        {#<div class="header">#}
                            {#<h2>Mes partenaires</h2>#}
                            {#<p>Bien entendu, je ne travaille pas seul ! Dans l'éventualité que je ne puisse vous aider à créer votre projet, votre demande sera transférée à l'ensemble de mes partenaires avec lesquels je travaille depuis plusieurs années. Augmentez vos chances de trouver rapidement un freelance en me proposant vos projets et profiter de mon réseaux.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="row cards">#}
                    {#<div class="item col-md-4">#}
                        {#<figure>#}
                            {#<img alt="Benjamin Bellantonio - Freelancer" src="/images/partenaires/ben.png">#}
                            {#<p>Développeur web &amp; mobile</p>#}
                        {#</figure>#}
                        {#<div class="name">#}
                            {#<h5>#}
                                {#<a target="_blank" href="http://benjaminb.fr/" title="Site internet">Benjamin Bellantonio</a>#}
                            {#</h5>#}
                        {#</div>#}
                        {#<p class="description">Développeur freelance passionné et expérimenté, je vous accompagne dans la conception de vos projets web et mobile.</p>#}
                        {#<ul class="social">#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.facebook.com/benjamin.bellantonio" title="" data-original-title="Facebook">#}
                                    {#<i class="fa fa-facebook"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://twitter.com/deuxb_" title="" data-original-title="Twitter">#}
                                    {#<i class="fa fa-twitter"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://fr.linkedin.com/pub/benjamin-bellantonio/6a/863/1a6" title="" data-original-title="Linkedin">#}
                                    {#<i class="fa fa-linkedin"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="http://benjaminb.fr/" title="" data-original-title="Site internet">#}
                                    {#<i class="fa fa-link"></i>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}

                    {#<div class="item col-md-4">#}
                        {#<figure>#}
                            {#<img alt="Yannick Dalbin - Freelancer" src="/images/partenaires/yannick.png">#}
                            {#<p>Développeur Freelance</p>#}
                        {#</figure>#}
                        {#<div class="name">#}
                            {#<h5>#}
                                {#<a target="_blank" href="http://www.yannickdalbin.com/" title="Site internet">Yannick Dalbin</a>#}
                            {#</h5>#}
                        {#</div>#}
                        {#<p class="description">Développeur web PHP/Zend Framework 1&amp;2/NodeJS mais pas que !</p>#}
                        {#<ul class="social">#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.facebook.com/YannickDa" title="" data-original-title="Facebook">#}
                                    {#<i class="fa fa-facebook"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://twitter.com/YannickDa" title="" data-original-title="Twitter">#}
                                    {#<i class="fa fa-twitter"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.linkedin.com/in/yannickda" title="" data-original-title="Linkedin">#}
                                    {#<i class="fa fa-linkedin"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="http://www.yannickdalbin.com/" title="" data-original-title="Site internet">#}
                                    {#<i class="fa fa-link"></i>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}

                    {#<div class="item col-md-4">#}
                        {#<figure>#}
                            {#<img alt="Ludovic Bouguerra - Freelancer" src="/images/partenaires/ludo.png">#}
                            {#<p>Développeur PHP Symfony 2 - Java</p>#}
                        {#</figure>#}
                        {#<div class="name">#}
                            {#<h5>#}
                                {#<a target="_blank" href="http://www.ludovicbouguerra.fr/" title="Site internet">Ludovic Bouguerra</a>#}
                            {#</h5>#}
                        {#</div>#}
                        {#<p class="description"></p>#}
                        {#<ul class="social">#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.facebook.com/ludovic.bouguerra" title="" data-original-title="Facebook">#}
                                    {#<i class="fa fa-facebook"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://twitter.com/LBouguerra" title="" data-original-title="Twitter">#}
                                    {#<i class="fa fa-twitter"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.linkedin.com/pub/ludovic-bouguerra/34/5a/214" title="" data-original-title="Linkedin">#}
                                    {#<i class="fa fa-linkedin"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="http://www.ludovicbouguerra.fr/" title="" data-original-title="Site internet">#}
                                    {#<i class="fa fa-link"></i>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="row cards">#}
                    {#<div class="item col-md-4">#}
                        {#<figure>#}
                            {#<img alt="Clément Vidal - Freelancer" src="/images/partenaires/clem.png">#}
                            {#<p>Développeur web &amp; logiciel</p>#}
                        {#</figure>#}
                        {#<div class="name">#}
                            {#<h5>#}
                                {#<a target="_blank" href="http://www.clementvidal.com/" title="Site internet">Clément Vidal</a>#}
                            {#</h5>#}
                        {#</div>#}
                        {#<p class="description">Développeur Symfony2, AngularJS et Dojo toolkit, je concrétise avec vous vos projets innovants.</p>#}
                        {#<ul class="social">#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.facebook.com/clementvidalperso" title="" data-original-title="Facebook">#}
                                    {#<i class="fa fa-facebook"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://twitter.com/ClemusMars" title="" data-original-title="Twitter">#}
                                    {#<i class="fa fa-twitter"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.linkedin.com/pub/clement-vidal/6/413/147" title="" data-original-title="Linkedin">#}
                                    {#<i class="fa fa-linkedin"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="http://www.clementvidal.com/" title="" data-original-title="Site internet">#}
                                    {#<i class="fa fa-link"></i>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="item col-md-4">#}
                        {#<figure>#}
                            {#<img alt="Sara Cruz - Freelancer" src="/images/partenaires/sara.jpg">#}
                            {#<p>Infographiste</p>#}
                        {#</figure>#}
                        {#<div class="name">#}
                            {#<h5>#}
                                {#<a target="_blank" href="http://www.sara-cruz.fr/" title="Site internet">Sara Cruz</a>#}
                            {#</h5>#}
                        {#</div>#}
                        {#<p class="description">Infographiste free-lance basée sur Marseille. Spécialisée dans la conception graphique print, Sara conseille, crée et réalise de supports de communication visuelle pour votre entreprise et produits.</p>#}
                        {#<ul class="social">#}
                            {#<li>#}
                                {#<a target="_blank" href="https://www.linkedin.com/pub/sara-cruz/bb/90a/ba5" title="" data-original-title="Linkedin">#}
                                    {#<i class="fa fa-linkedin"></i>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a target="_blank" href="http://www.sara-cruz.fr/" title="" data-original-title="Site internet">#}
                                    {#<i class="fa fa-link"></i>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</section>#}

            {#<section id="map" data-anchor-id="localisation">#}
                {#<div class="separator"></div>#}
                {#<div id="openstreetmap" class="map" data-map-lat="43.273575" data-map-lon="5.434302" data-map-address="<b>Anthony GROSS</b><br/>40 rue P.LUCCIONI<br/>13010 Marseille"></div>#}
            {#</section>#}
        </div>

        <section id="contact" class="container" data-anchor-id="contact">
            <div class="row">
                <div class="col-md-12">
                    <div class="header">
                        <h2>Restez en contact</h2>
                        <p>
                            J'accepte régulièrement de nouveaux clients. C'est avec plaisir que je vous servirais.
                        </p>
                    </div>
                    <p>
                        Vous avez un projet à estimer, une demande de devis ou vous souhaitez être formé sur un domaine précis ?
                        N'hésitez pas à me contacter et je vous répondrais avec plaisir dès que possible. Ne soyez pas timide !
                        Vous pouvez me rejoindre ci-après sur la plupart des réseaux sociaux si vous souhaitez me connaitre
                        davantage.
                    </p>
                </div>
            </div>
            <form method="post" action="{{ path("anthonykgrossfr_contactez_moi") }}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" maxlength="80" placeholder="Nom & Prénom (obligatoire)"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="email" maxlength="255"
                               placeholder="Votre adresse email (obligatoire)"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="subject" placeholder="Sujet"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="captcha" placeholder="Chargement du captcha ..."
                               class="no-margin-bottom"/>
                            <input type="hidden" name="captcha_id" value=""/>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Message (obligatoire)"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" value="C'est parti !" class="btn btn-block btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="data-status"></div>
        </section>

        <section id="social" class="container-fluid" data-anchor-id="social">
            <div class="row">
                <div class="col-md-2">
                    <img alt="Rejoignez moi" src="/images/rejoignezmoi.png"/>
                </div>
                <div class="col-md-10">
                    <ul>
                        <li>
                            <a target="_blank" title="Twitter" href="https://twitter.com/anthonykgross">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Youtube" href="https://www.youtube.com/channel/UC7hF0LUlIoShX2QZejF7z7g">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Linkedin" href="http://www.linkedin.com/pub/anthony-k-gross/6a/863/16">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Github" href="https://github.com/anthonykgross">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Gitlab" href="https://gitlab.com/u/anthonykgross">
                                <i class="fa fa-gitlab"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" title="Docker Hub" href="https://hub.docker.com/u/anthonykgross/">
                                <i class="fa fa-cubes"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="container">
            <div class="row">
                <div class="col-md-4">
                    <span>Anthony GROSS</span><br/>
                    <span>
                        <span>40 rue P.LUCCIONI</span><br/>
                        <span>Résidence Le clos des peintres</span><br/>
                        <span>13010</span> <span>Marseille</span><br/>
                    </span>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    Email : <span>Anthony.k.gross@gmail.com</span><br/>
                </div>
                <div class="col-md-4" style="text-align: right;">
                    Siret: 530 132 729 00027
                </div>
            </div>
            <br/>
            <p>
                <a href="#overlay">
                    <img src="/images/akg.svg" title="AKG - Anthony Kkuet GROSS" alt="AKG - Anthony Kkuet GROSS"/>
                </a>
                <br/><br/>
                &copy; {{ "now"|date('Y') }} AnthonyKGross.fr
            </p>
        </footer>

        <div class="page-loading"></div>
        <div id="fb-root"></div>
    </main>
    <script type='text/javascript' src="/libs/jquery/dist/jquery.min.js"></script>
    <script type='text/javascript' src="/libs/popper.js/dist/umd/popper.min.js"></script>
    <script type='text/javascript' src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="/libs/jticker/js/jquery.jticker.js"></script>
    <script type='text/javascript' src="/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    {#<script type='text/javascript' src="/libs/jwplayer/jwplayer.js"></script>#}
    {#<script type='text/javascript' src="/libs/jwplayer/jwplayer.html5.js"></script>#}
    <script type='text/javascript' src="/build/js/main.js"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1488082224825425',
                xfbml: true,
                version: 'v2.8'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58639100-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "AnthonyKGROSS",
            "url": "http://anthonykgross.fr",
            "logo": "http://anthonykgross.fr/images/akg.png",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Marseille, France",
                "postalCode": "13010",
                "streetAddress": "40 rue P.LUCCIONI"
            },
            "founder": {
                "@context" : "http://schema.org",
                "@type" : "Person",
                "name" : "Anthony GROSS",
                "url" : "http://anthonykgross.fr",
                "sameAs" : [
                    "https://twitter.com/anthonykgross",
                    "http://www.linkedin.com/pub/anthony-k-gross/6a/863/16",
                    "https://github.com/anthonykgross",
                    "http://twitch.tv/anthonykgross",
                    "https://plus.google.com/u/0/117182078090794461481"
                ],
                "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "Marseille, France",
                    "postalCode": "13010",
                    "streetAddress": "40 rue P.LUCCIONI"
                },
                "email": "anthony.k.gross@gmail.com",
                "image": "http://anthonykgross.fr/images/photo.jpg",
                "jobTitle": "Software Engineer"
            }
        }
    </script>
    <!-- Hotjar Tracking Code for http://anthonykgross.fr -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {hjid: 635153, hjsv: 5};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
