{% extends 'base.html.twig' %}

{% block title %}
{% spaceless %}
    {% if entity.metaTitle %}
        {{ entity.metaTitle }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block description %}
{% spaceless %}
    {% if entity.metaDescription %}
        {{ entity.metaDescription }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block keywords %}
{% spaceless %}
    {% if entity.metaKeywords %}
        {{ entity.metaKeywords }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block og_url %}
{% spaceless %}
    {% if entity.url %}
        http://{{ app.request.host ~'/'~ entity.url }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block og_image %}
{% spaceless %}
    {% if entity.thumbnail %}
        {{ entity.thumbnail }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block draft_mode %}
    {% if not entity.isOnline %}
        <div class="draft-mode" title="Page offline">Draft mode</div>
    {% endif %}
{% endblock %}

{% block body %}
    {{ entity.content|raw }}
{% endblock %}

{% block stylesheets %}
    {{ entity.extraCSS|raw }}
{% endblock %}

{% block javascripts %}
    {{ entity.extraJS|raw }}
{% endblock %}