{% extends 'blank.html.twig' %}

{% block body %}
    <div class="container">
        <section id="blog" class="blog">

            <div class="header margin-bottom40">
                <h2>{{ entity.title }}</h2>
                <p>{{ entity.content }}</p>
            </div>

            {% for a in entity.children %}
                <div class="item">
                    <figure>
                        <img src="{{ a.thumbnail }}" alt="Thumbnail" />
                        <div class="title">
                            <a href="/{{ a.url }}">{{ a.title }}</a>
                        </div>
                    </figure>
                    <p>{{ a.abstract }}</p>
                    <div class="meta-desc">
                        <i class="fa fa-calendar"></i> {{ a.updatedAt|date('c') }} <span class="font-slight">|</span>
                        <a href="/{{ a.url }}" class="read-more">Lire</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
